[2022-07-12 15:51] Abdulsamipy opened #252 "Scrollable Frame"
Hello am trying to create a frame where users can generate multiple entries with a button, the issue is when multiple entries are created the window is unable to scroll down, is it possible if I can make the Comment Frame scrollable only?

Image 1 :Before creating multiple entries  , Image 2 : after creating multiple entries

![Screenshot 2022-07-12 205032](https://user-images.githubusercontent.co

[2022-07-12 20:00] TomSchimansky commented on #251
Should be fixed now with 4.5.5

[2022-07-12 20:00] #251 closed

[2022-07-12 21:34] Azuremoon13 opened #253 "combobox/optionmenu scroll bar?"
### Discussed in https://github.com/TomSchimansky/CustomTkinter/discussions/249

is it possible to have like a default tkinter scroll bar for these items?if so any examples? also how do i stop these when clicked on taking up the full size of my screen?

[2022-07-13 10:20] Nomanpour opened #255 "Request: Add AutoComplete ComboBox"
Hello,

I have an AutoComplete class for the ttk.
is it possible to have this class compatible with CTk?

[code]

[2022-07-13 23:39] DICAN8 opened #256 "Can't find corner radius in button.configure(params)"
the CTkButton.configure() method does not accept corner radius

[2022-07-14 11:21] #255 closed, assigned to nobody

[2022-07-14 11:25] TomSchimansky commented on #252
Look here: https://blog.teclado.com/tkinter-scrollable-frames/
But maybe I will add a scrollable frame in the future...

[2022-07-14 22:12] Azuremoon13 opened #260 "Progress bar set doesn't work in loop - bug"
progressbar.set(value) doesnt work in a loop, only sets the last value in the list

[2022-07-15 14:07] TomSchimansky commented on #260
In tkinter there is the .after() method to do this, to avoid using separate threads, which can cause problems in tkinter:

[code]

[2022-07-15 14:43] TheFallen-Cat opened #266 "Configuring the font is not available in the widgets"
I've been adding a change font command in my app to configure the font of all the widgets by using InputDialog to get the font name but unlike tkinter there is currently no option to configure the font in the widgets.

[2022-07-15 14:49] shazamch opened #267 "buttons press themself"
Whenever I run the code the buttons press themselves and after that, you can't press the buttons.

[2022-07-15 15:32] #267 closed

[2022-07-16 19:47] GabrielCC03 opened #269 "Library stopped working."
import customtkinter
  File "C:\Python\lib\site-packages\customtkinter\__init__.py", line 20, in <module>
    ThemeManager.load_theme("blue")
  File "C:\Python\lib\site-packages\customtkinter\theme_manager.py", line 17, in load_theme
    cls.theme = json.load(f)
AttributeError: module 'json' has no attribute 'load'

Can't even run the sample code.

[2022-07-16 19:55] #269 closed

[2022-07-17 03:38] ghanteyyy opened #270 "Is config and configure different in CTkSlider ?"
When I used `config` in `CTkSlider`

[code]

I got the following error:

[code]

But when I used `configure` in `CTkSlider`

[code]

**It works fine!!**

[2022-07-17 05:03] TheFallen-Cat commented on #270
As far as i know, config and configure is loterally the same thing in tkinter, so it is probably a bug @ghanteyyy

[2022-07-17 11:16] Crepco opened #272 "Button command not working"
generator.py

[code]

manager.py

[code]

when i press the button `generator.py` it dosent work but when i remove the customtkintor theme from `generator.py` it does work

[2022-07-17 11:54] TomSchimansky commented on #270
Only .configure() is implemented in CustomTkinter, .config() does not work at the moment. Maybe I will add this.

[2022-07-17 11:54] #270 closed

[2022-07-17 14:04] TheFallen-Cat commented on #272
First of all why are you using the class `PasswordGenerator` as a command in `generate_password_btn` ? @Crepco

[2022-07-17 14:22] TheFallen-Cat opened #274 "Bindings not working with CTkButton"
Key bindings are not working with CTKButton, the issue arised when I tried to use `"<Button-1>"` to to a button. The reason i was using bindings with a button is, that I wanted a way to bind the `"<Return>"` key to a input field to run the function while still possible to use the button to run the same command.

[2022-07-17 14:51] TomSchimansky commented on #274
I can try to add .bind() method to CTkButton, but on CTkEntry it should work and that's how you should do it I think. Because if you focused to the entry the Return event will not be recognised by the button I would say.

[2022-07-17 14:51] #220 closed

[2022-07-17 14:54] TheFallen-Cat commented on #274
yeah maybe i should do it with button instead

[2022-07-17 15:52] TheFallen-Cat commented on #246
better to use `button.config(state = 'disabled')`, that most probably will solve the issue @FrenkyDema

[2022-07-17 15:59] TomSchimansky commented on #274
You can do it like this:
[code]

[2022-07-17 16:01] TomSchimansky commented on #246
You should always use `.configure` instead of `.config` because `.config` is not implemented on most CTk widgets.

[2022-07-17 16:10] TomSchimansky commented on #213
Works now with version 4.5.5.

[2022-07-17 16:10] #213 closed

[2022-07-17 16:17] TomSchimansky commented on #274
Also duplicate: https://github.com/TomSchimansky/CustomTkinter/issues/65

[2022-07-17 16:17] #274 closed

[2022-07-17 16:19] TomSchimansky commented on #253
Are you using Linux? On Windows and macOS the tkinter menu which is used for the dropdown menu has some sort of scrolling, but not on Linux for some reason. I will have a look if its possible to maybe use a tsk menu or something.

[2022-07-17 16:19] #246 closed

[2022-07-17 16:20] #190 closed

[2022-07-17 17:40] Dotolox opened #276 "switch not doing what it should do & wiki typo"
Hey,
I really like this package. However, I'm facing huge problems when trying to integrate the switch object.

First of all I guess in the wiki there are some typos, when it comes to the switch:
wiki:
`switch_var = tkinter.StringVar("on")`
should be:
`switch_var = tkinter.StringVar(value="on")`

wiki:
[code]
should be:
[code]

However, when integrating that in the right way, I still can't use the

[2022-07-17 18:30] TomSchimansky commented on #276
Wiki should be fixed now.

[2022-07-17 18:38] TomSchimansky commented on #276
This was indeed a bug with the CTkSwitch, the variable was updated after the command function was called. Thanks for reporting this. It's now fixed with version 4.5.6.

[2022-07-17 18:38] #276 closed

[2022-07-17 18:51] Azuremoon13 commented on #253
no im on windows, and yes it has 2 arrows top and bottom of the dropdown.. but was wondering if you could attach an actual scroll bar? also is there a way to set fixed height of the dropdown when its opened? as if you have a lot its spans the whole screen

[2022-07-17 18:54] TomSchimansky commented on #253
As far as I can see there is no option to set the max height for a tkinter menu: https://anzeljg.github.io/rin2/book2/2405/docs/tkinter/menu.html

[2022-07-17 18:59] Azuremoon13 commented on #253
oh yea.. i think i might have to swap to a combo box then as you can limit them.. possible to add from your end to dropdowns too?

[2022-07-17 19:46] TomSchimansky commented on #131
geometry method now returns the current geometry string with version 4.5.8.

[2022-07-17 19:46] #131 closed

[2022-07-18 05:45] MRFEZ1 opened #277 "withdraw() doesn't work on main program at start."
When being used to hide the main window, the main window doesn't become hidden. Although, later when used through a function on a top level window, it disappears as it should.

[2022-07-18 06:51] FrenkyDema commented on #246
thanks

[2022-07-18 07:47] Nomanpour opened #278 "Prints something in terminal"
Hello,
The latest version '4.5.8' printing this to the terminal on run.
[code]
I believe it was to test the geometry issue...

[2022-07-18 07:53] Nomanpour commented on #278
![image](https://user-images.githubusercontent.com/11517299/179467348-c6f8d277-ebcd-4a7e-b6ec-422fa4facb0b.png)

[2022-07-18 09:06] cclowny opened #279 "Print when I click a button"
Since I upgraded customtkinter (litterally 5 minutes ago) every time I press a button the software prints a list:
['', 'x', '']

[2022-07-18 09:30] TheFallen-Cat commented on #279
this issue is being faced by everyone who updated the customtkinter to the new version, its a bug most probably

[2022-07-18 10:09] cclowny commented on #279
oh okay thanks

[2022-07-18 10:36] TomSchimansky commented on #279
fixed with version 4.5.9

[2022-07-18 10:37] #279 closed

[2022-07-18 10:38] TomSchimansky commented on #278
fixed with version 4.5.9

[2022-07-18 10:38] #278 closed

[2022-07-18 10:42] TomSchimansky commented on #277
Which platform are you using and which python version?

[2022-07-19 03:50] MRFEZ1 commented on #277
Using windows, python 3.7.9 and running it in Thonny

[2022-07-19 08:23] MrBananaPants opened #282 "PyInstaller: ModuleNotFoundError: No module named 'darkdetect'"
I'm trying to make a windows executable using PyInstaller but I get the following error when launching the app:
[code]
The `darkdetect` module is imported in `appearance_mode_tracker.py`

I followed [these steps](https://github.com/TomSchimansky/CustomTkinter/wiki/Packaging#windows-pyinstaller-auto-py-to-exe) to make the build command.

This is the command I use:
`pyinstaller --noconfirm --onedir

[2022-07-19 08:46] TomSchimansky commented on #282
Do you have darkdetect installed? Can you try `--hidden-import darkdetect`

[2022-07-19 09:10] MrBananaPants commented on #282
Yes, I've also tried that but it gives me the same error:
[code]

[2022-07-19 09:35] TheFallen-Cat commented on #282
I've made an executable too but i didnt get that error, maybe you should try it with `auto-py-to-exe`, it worked for me.

[2022-07-19 12:01] TomSchimansky commented on #282
Could be possible that pyinstaller uses an other python version with no darkdetect installed

[2022-07-19 12:04] MrBananaPants commented on #282
So how could this be fixed? Is it possible to exclude or remove the darkdetect module if I don't use it?

 I'm also having lots of issues trying to install `auto-py-to-exe`. Both the pip installer and the offline build (from the source code) don't work for me.

[2022-07-19 14:12] ArielMAJ commented on #277
I just came here to start this same issue. I'm using Python 3.10 on Windows 11:

With tkinter, if you run this the window never pops up (as it should):
[code]

With customtkinter, if you run this the window always pops up (it shouldn't):
[code]

Using `root.after(0,root.withdraw)` (instead of `root.withdraw()`) with tkinter also works pretty normally (the window doesn't even flash). With customtki

[2022-07-19 14:44] ArielMAJ commented on #277
Doing some tests, I realized `root.geometry("+400+300")` works in tkinter but raises a ValueError in customtkinter.
[code]

[2022-07-19 16:10] TheFallen-Cat commented on #282
What are the issues with `auto-py-to-exe`, any errors?

[2022-07-19 17:04] ArielMAJ opened #284 "Request: BoxShadow effect to Frames, etc."
Hey, is it possible to do this?

I tried to do it using multiple frames, but it doesn't work really as intended. It gets really bad when rounding edges too:
<img width="390" alt="image" src="https://user-images.githubusercontent.com/69123486/179807545-a93a712c-5e1b-4cb9-a5d2-88d84e583c91.png">
<img width="413" alt="image" src="https://user-images.githubusercontent.com/69123486/179807757-030cbe78-c

[2022-07-19 17:32] TomSchimansky commented on #284
Hey, at the moment this is not possible to achieve, because the frames are drawn on a separate canvas which is always rectangular., and you will see the corners like in your screenshot.
You would have to write a custom drawing function, which draws two rounded frames on one canvas with a slight shift.But that would be a lot of work and I don't think I will ever do this. When it comes to shadows, t

[2022-07-19 17:56] Akascape commented on #282
@MrBananaPants In my case I had 2 python version installed (3.9 and 3.10). I have auto py to exe installed in 3.9 so I have to download the modules in 3.9 only.

Ways to fix:

1) if you are using 2 or more python versions then move the environment variable path of that version to the top and use cmd to 'pip install customtkinter'. This should fix the problem.

2) Go to this path: 'python/Lib/site

[2022-07-19 18:43] ArielMAJ commented on #284
Tyvm for the fast reply! I'll think about my options.

Cheers!

[2022-07-19 18:43] #284 closed

[2022-07-19 22:19] ArielMAJ commented on #284
I think I managed to work something very very basic out. Probably won't be too useful, but it's something for anyone that really wants it:

[code]
<img width="424" alt="image" src="https://user-images.githubusercontent.com/69123486/179858051-810e4406-2e0b-4799-a848-2f037ddffba2.png">

[2022-07-20 09:26] saurabhkingp opened #285 "CTkToplevel window widgets i.e. buttons, entry are not auto resizing."
I just started using customtkinter and for root window the widgets are auto resizing as we expand the width or height of window.
But in toplevel window, there widgets are static i.e. not auto adjusting.

If there something i am missing, please let me know.

[2022-07-20 15:32] egwald opened #287 "Bug after changing the version from 4.5.6 to 4.5.9 (also to 4.5.7 or 4.5.8)"
The code:
[code]
ends with a error in ctk_tk.py", line 137, in geometry
[code]
With version 4.5.6 my app runs fine!

[2022-07-21 04:30] omerbm opened #289 "Textbox get method"
there is no way to get what the user is insert in textbox, add get method well be useful

[2022-07-21 07:13] RutgerLit commented on #282
Use a hidden import for darkdetect:

--hidden-import=darkdetect

in combination with:

--add-data="path_to_python/Lib/site-packages/customtkinter;customtkinter/"

[2022-07-21 08:34] Moeman101 opened #290 "auto-py-to-exe gridding changes"
Today I used auto-py-to-exe to convert the software I was working on to an .exe to set up in my lab's computer.  the customtkinter library was looking for itself in the wrong folder but that was easy enough to fix.  But when i run my program as an .exe, for some reason the gridding does not line up.  Please advice.  Also I would love to zoom and show you this live.

[2022-07-21 08:40] TheFallen-Cat commented on #290
Can you upload some screenshots showing what is the problem? Also, does the same problem occur while running the python file too?

[2022-07-21 08:49] Moeman101 commented on #290
Im recompiling it now.  I was looking for any errors and I did not see anything on my end.  Ill upload screen captures in 5 minutes and make a separate ticket for the library looking for itself in the wrong folder

[2022-07-21 09:05] Moeman101 opened #291 "CustomTkinter assets in wrong directory"
When compiling a program containing customtkinter, for some reason it drops its asset folder and sits a level too deep for the program to look for.  It gets compiled to site-packages but It looks for itself in one folder level higher.
![Error](https://user-images.githubusercontent.com/71300984/180175554-c6971212-190a-493f-84ed-3f1f5cc798e3.png)
![Solution Part 2](https://user-images.githubusercont

[2022-07-21 09:11] Moeman101 commented on #290
Here are screenshots of the program ran in spyder (IDE), aka the result I expect) and the second one is after its compiled.  There are no changes to the code between the two.
![Ran in Spyder (IDE)](https://user-images.githubusercontent.com/71300984/180176779-64742487-fd94-4905-8984-f2cd7f9b81a7.png)
![Auto-py-to-exe compiled](https://user-images.githubusercontent.com/71300984/180176797-6165b261-8e

[2022-07-21 09:56] TomSchimansky commented on #289
The Textbox is not finished yet and not officially supported. I am currently working on it, many things aren't working yet.

[2022-07-21 09:56] #289 closed

[2022-07-21 10:07] TomSchimansky commented on #290
I don't know why compiling to exe would change how the grid system looks. Maybe the window has a different size when it's compiled? Can you show me the code somehow?

[2022-07-21 10:41] Moeman101 commented on #290
What code would you like to see?  My code or it compiled?  Everything looks the same between both programs until I go to display the PNGs.

[2022-07-21 12:52] TomSchimansky commented on #290
The whole code, or a running example where this appears. I mean I have no idea why this would happen, and if its really a bug, I don't think that its happening because of customtkinter. Then it would be more of a tkinter bug. But I want to have a look how you created the grid and set the weights of the cells.

[2022-07-21 22:52] felipetesc commented on #291
When you say

you mean you are trying to execute the script ?

Sometimes Windows can't figure it out how to solve long paths...

https://www.thewindowsclub.com/how-to-enable-or-disable-win32-long-paths-in-windows-11-10

You Could try to use somethings like this,

[code]
 I use Linux and I've never found this issue. But, yes, maybe it's something related to CTk.

[2022-07-21 23:04] felipetesc commented on #287
To center a window I'm using this code:

[code]
Perhaps it can be used as utl function like  I'm right now

[2022-07-21 23:12] felipetesc commented on #284
I was thinking about how to add some shadow to buttons, because as I read before while studing UX design, it helps people to intuitivelly understand a button as a button. Your idea helps a lot. Thanks for sharing it.

[2022-07-21 23:15] felipetesc commented on #277
Python 3.8
https://github.com/TomSchimansky/CustomTkinter/issues/101#issuecomment-1134194964

[2022-07-22 00:56] Moeman101 commented on #291
sorry for the ambiguity, this was when I was using auto-py-to-exe to precompile my code into a .exe

[2022-07-22 02:13] GambetG opened #292 "Update image of a label"
With the windown already open, when executing the command to update an image in a label, the image is not updated
[code]
In tkinter thats works normal

[2022-07-22 07:59] Akascape commented on #292
@GambetG You don't have to define img label again before configuring, and also update the method of importing the image like this:

[code]
Also update both PIL and customtkinter if you face any other errors.

[2022-07-22 08:13] TomSchimansky commented on #287
@egwald what are the values you inserted into the geometry f-string? You cannot insert floats there, maybe it worked before but it shouldn't.

[2022-07-22 08:19] TomSchimansky commented on #292
@GambetG For configuring the image is working. Do you have thee newest version installed?

[2022-07-22 08:42] RutgerLit opened #293 "bind ComboboxSelected does not work for CTkComboBox"
The function attached to the ComboboxSelected binding is not called.

MWE:

[code]

[2022-07-22 09:14] MrBananaPants commented on #282
@Akascape This fixed my issue! I completely removed all python versions and packages that were installed and did a clean install of 1 python version and all the required packages. Now I can launch the .exe without any issues.

[2022-07-22 09:14] #282 closed

[2022-07-22 09:18] matix2k opened #294 "Is it possible to let the window auto-size to fit all widgets without overlaps?"
First of all, I absolutely love it! Kudos!

About my question:
I want to avoid defining a fixed geometry but rather let the app auto-size to fit all widgets.
Background is that defining fixed width&height may look good when testing on screen A with resolution 3840x2160 with scale 200% but when opening on screen B with different resolution and scale leads to certain widgets pushed together or not s

[2022-07-22 09:52] TomSchimansky commented on #293
Something like `<<ComboboxSelected>>` is not implemented and the .bind() function doesn't work properly on most CTk widgets because it's called on the tkinter Frame the widget is inherited from. But the events happened mostly on the canvas on this frame. So just use the command attribute.

[2022-07-22 09:52] #293 closed

[2022-07-22 09:56] TomSchimansky commented on #294
Hi, it's possible if you use the grid geometry manager instead of place or pack. I don't know if you use grid already, but when you set the weights of the cells and the sticky options of the widgets properly, the widgets adapt to the window size automatically. I created a small example with the grid manager in the wiki here: https://github.com/TomSchimansky/CustomTkinter/wiki/App-structure-and-lay

[2022-07-22 10:20] Akascape opened #295 "Can we configure/change themes within the app?"
Is it possible to change/configure the theme of customtkinter like the `set_appearance_mode` method?

[2022-07-22 10:27] TomSchimansky commented on #295
You select a theme with `set_default_color_theme`.

[2022-07-22 10:35] Akascape commented on #295
How can we change it later?

[2022-07-22 10:44] matix2k commented on #294
Thanks for the fast reply.
Yes, I use "grid" to place the widgets (on the grid). But using self.geometry(widthxheight) would mean that I define fixed dimensions which I try to avoid.

Here is the code of the example from above:

How would I need to adjust it so that all widgets are shown and not truncated resp hidden.

from tkinter import *
import customtkinter as ctk

class TestApp(ctk.CTk):

[2022-07-22 11:03] TomSchimansky commented on #295
Not possible at the moment, but this could be an enhancement, maybe I will add this at some point.

[2022-07-22 11:09] Nomanpour opened #296 "CTkTextbox go to end"
Hello,

Is there any method to scroll to the end of the text box after insert?

[2022-07-22 11:11] Akascape commented on #295
@TomSchimansky please review the pull request.

[2022-07-22 11:12] TomSchimansky commented on #294
You need to set the weight of the grid cells. By default all the cells have a weight of 0 so they will not expand or shrink together, they will be fixed size:
[code]
Also not that the grid indexing begins at 0 and not at 1, but here it doesn't matter.

[2022-07-22 11:44] matix2k commented on #294
Thanks, this was helpful.
Is there also a way to make sure that a widget (e.g. a label) auto-sizes based on its content without having to manually define a width resp. height parameter.

This is how it looks: the text of two labels is truncated
![image](https://user-images.githubusercontent.com/109793103/180431669-67c95c41-d4b3-4254-b269-85f4bab88fb6.png)

Also, how to get rid of the extra space (

[2022-07-22 12:35] TheFallen-Cat commented on #295
Yes it is possible to change the theme while the app is running. You can check this app i made with a change theme command here, https://github.com/TheFallen-Cat/VocabiPy/blob/d039fa49e93e37dee98616b5afec16fc175c48f8/main.py#L117

[2022-07-22 12:39] TheFallen-Cat commented on #295
If you're wondering what the `if` statement is for [there](https://github.com/TheFallen-Cat/VocabiPy/blob/d039fa49e93e37dee98616b5afec16fc175c48f8/main.py#L120) its because i used tkinter textbox so i had to change the `fg` and `bg` seperately when the theme gets changed.

[2022-07-22 12:40] Akascape commented on #295
@TheFallen-Cat Its not about the dark mode bro,
A theme file has one dark and one light attribute for each widget type. You are only switching between those parts of the theme. But it is not possible to change the whole theme.

[2022-07-22 12:43] Akascape commented on #295
Check the json file of a theme of customtkinter and you will understand.

[2022-07-22 13:11] egwald commented on #287
**All values are integer:**

        window_width = 19200
        window_height = 1200

        # get the screen dimension
        screen_width = self.winfo_screenwidth()
        screen_height = self.winfo_screenheight()

        # find the center point
        center_x = int(screen_width / 2 - window_width / 2)
        center_y = int(screen_height / 2 - window_height / 2)

        # set the posit

[2022-07-22 15:18] PosthumasFrankestein opened #299 "Inner padding inside labels doesn't work."

[2022-07-22 15:40] GambetG commented on #292
@Akascape  @TomSchimansky
Thanks for commenting.

I just showed the whole part of the image to see if I was doing something wrong with the label too, but I tried with

```Image.Resampling.LANCZOS```

And it says it is not an attribute of Image, I tried to update pillow and the error remains.

Tom ,Yes it's updated, I installed the CTK yesterday, and now to test I removed it and installed it again.

[2022-07-22 15:42] Akascape commented on #292
@GambetG update the PIL module via 'pip install pillow --upgrade'. Or use `Image.LANCZOS` directly.

[2022-07-22 15:46] GambetG commented on #292
Yes, I just updated, the LANCZOS directly doesn't work either for some reason.

Definitely the problem with updating the image is something in my code, I tried to put it in a simpler code and it worked, I'll check where I'm going wrong. thank you again.

[2022-07-22 15:57] Akascape commented on #292
@GambetG Actually it was the old method, you may get a DeprecationWarning message while running the program with the newer PIL version.

You can also use `Image.ANTIALIAS` which I believe is a very traditional method.

[2022-07-22 16:12] TheFallen-Cat commented on #295
@Akascape Oh i see now, you mean switching different themes like sweetkind and such.

[2022-07-22 16:15] Akascape commented on #295
@TheFallen-Cat Absolutely, I am working on some new themes for my applications.

Even made this thememaker tool.

[2022-07-22 16:16] TheFallen-Cat commented on #295
@Akascape yeah i saw the PR you made, it looks amazing!

[2022-07-22 17:17] felipetesc commented on #291
I can only try to guess here, since I've never used auto-py-to-exe . I imagine auto-py-to-exe doesn't automatically add assets folder and its contents inside site-packages.

What happens if you copy the assets folder and paste inside the compiled folder located at site-packages/CustomTkinter by yourself? Does it work?

Something else, are you using auto-py-to-exe to hide your app source code ? Bec

[2022-07-22 21:05] TomSchimansky commented on #299
There is no inner padding implemented for the CTkLabel...

[2022-07-22 21:05] #299 closed

[2022-07-22 21:05] TomSchimansky commented on #299
Maybe I will add it at some point

[2022-07-22 21:06] #292 closed

[2022-07-22 23:49] scott-ca opened #300 "Distored borders on any of the buttons"
I am tried out the various examples and seem to consistently get distorted borders as shown below. It almost appears as if it isn't filing out the buttons properly. However, I noticed even on the check boxes there is a lot of distortion even on the straight portions of the check box.

I have tested this in a fresh conda environment with just the required packages along with Python 3.10.4 and still

[2022-07-23 08:07] TomSchimansky commented on #300
Which Linux version are you using? To render the widgets I'm using fonts, which need to be loaded from a .otf file. One Linux I do this by copying the .otf font file into the folder `'~/.fonts/'`, and normally then they can be used in tkinter. But that's not working for you for some reason. Can you check if the fonts folder exists and if there's a font named `CustomTkinter_shapes_font.otf` in ther

[2022-07-23 13:51] MrBananaPants opened #303 "CTkLabel automatically changes width and height when adding new text"
I've come across a really annoying bug or issue while programming an app.
Whenever I add text to a CTkLabel widget, it increases the width and height of the Label widget even though the width has been set to a fixed value, and the text never exceeds the widget borders.

Here's some code so you can reproduce this issue:
[code]
As you can see, whenever you press the button to add some text to the wi

[2022-07-23 15:00] scott-ca commented on #300
I am using popOS 22.04 LTS. In case it matters popOS is based off of Ubuntu.

I do have fonts folder. I am not sure what was all there before, but I have a four files. I have CustomTkinter_shapes_font.otf, Roboto-Medium.ttf, Roboto-Regular.ttf, .uuid.

I just tested removing all the files from the folder and then re-installing the module. When I launched the example for the first time it re-added

[2022-07-23 16:51] TheFallen-Cat commented on #303
You should remove `expand=True` from your `main_frame`. Im not on pc so i cant run the code, but that must be the issue.

[2022-07-23 16:58] felipetesc commented on #303
I tested your code and the defined width wasn't respected by the label, as you have mentioned.

However with some modifications I achieved a different result, by wrapping a single element inside the frame widget, that is, I placed only the label inside a frame. It doesn't solve the issue, but it may be used as a dirty workaround while the definite solution doesn't come out.

[code]
Maybe the code

[2022-07-23 17:00] felipetesc commented on #303
Maybe the upcomming textbox should be used instead ?

[2022-07-23 17:07] TomSchimansky commented on #303
Its a bug in the CTkLabel implementation in line 152, I set the label width to the length of the string, but for multilane strings this doesn't make sense. It will be fixed in the next version.

[2022-07-23 17:18] TomSchimansky commented on #303
@MrBananaPants Besides that, I saw you passed an fg argument to the CTkLabel. It worked in this case because the unused arguments get passed to the underlaying tkinter label, but that's not how it should be done. To change the text color use the `text_color` attribute. Here you can see how the attributes are named:
https://github.com/TomSchimansky/CustomTkinter/wiki/Themes

[2022-07-23 17:33] MrBananaPants commented on #303
@TomSchimansky Thank you for fixing this bug! Is there a way I can use the master branch in my project already before the next version is released?

About the `fg="white"` argument, it was just a mistake of me because I created the code snippet without too much attention. In my app, I always use `text_color="white"`

[2022-07-23 18:00] MrBananaPants opened #304 "CTkOptionMenu dropdown menu customization not working"
Whatever arguments I give the CTkOptionMenu to change the appearance of the dropdown menu where you can select a value, it just doesn't change a thing.

Here's some code to reproduce the issue:
[code]

As you can see in the screenshot below, the `dropdown_hover_color="green"`, `dropdown_text_color="red"` and the `dropdown_color="blue"` don't have any effect on the appearance:

![Screenshot 2022-07

[2022-07-23 18:03] TomSchimansky commented on #304
The custom dropdown menu was replaced with a default tkinter menu, because of multiple platform specific bugs. It's not possible to build a custom dropdown menu with tkinter which is reliable.

[2022-07-23 18:03] #304 closed

[2022-07-23 18:05] TomSchimansky commented on #303
I uploaded version 4.5.10 now.

[2022-07-23 18:05] #303 closed

[2022-07-23 19:28] avalon60 opened #305 "CTk.withdraw method doesn't appear to work (customtkinter 4.5.9)"
Please see test case:

https://github.com/TomSchimansky/CustomTkinter/discussions/302

[2022-07-23 20:59] gauravguptabits commented on #300
I am observing this issue too and I am on Ubuntu 20.04 and using conda environment.

Note: Switching from conda to virtual environment fixed the issue for me. So, looks like custom tinker is trying to look some of the configuration or soft dependencies whose lookup is not compatible to conda.

[2022-07-23 21:32] scott-ca commented on #300
Good find on switching to a non-conda environment fixing the issue.

Interesting that it can put the files into folder, but isn't able to read them. I have done some initial digging and it looks like it may have come up before within tkinter directly with fonts as shown in the link below.

https://github.com/ContinuumIO/anaconda-issues/issues/6833

I will do some more digging and see if I can find

[2022-07-23 21:36] felipetesc commented on #300
Same thing

[2022-07-24 06:25] Akascape opened #307 "CtkInputDialog: cancel is not ending the process."
I used CtkInputDialog like this, but facing an issue with the options

[code]

When I press Cancel, it prints 'Number: None' instead of returning/ending the process.
If I use `if dialog.get_input()!=None:` then it doesn't print anything even when I press OK. Instead it prints everything only after closing the main program. It also happens if I close the dialog box.

What to do?

[2022-07-24 06:37] Akascape commented on #307
@TomSchimansky Please review the ThemeMaker program which I have just updated,
I have updated the program structure to class and also changed it to grid layout.
https://github.com/TomSchimansky/CustomTkinter/pull/268

[2022-07-24 12:32] gauravguptabits opened #308 "How to set border-color on button click?"
Hi,

I have a set of buttons in my UI, I would like to set the border-color of button when clicked and border-color of other button need to be unset as well.

Example

1. Add 3 buttons to the UI, (say start, stop, reset).
2. All buttons are initialized to have no border-color.
3. Click on 'start' button. This should set border-color of start button to black with some border-width (say 3).
4. Click

[2022-07-24 21:43] #177 closed

[2022-07-24 21:48] #295 closed

[2022-07-24 22:03] TomSchimansky commented on #231
Sorry for the late response. I don't think this can be solved. The problem is, that in tkinter the background of a label cannot be transparent. And a CTkButton is just a canvas with a label on top and the image is placed in the label. So I need to set the background color of the label to the current background color of the button, so that you don't see the label. But the label has a rectangular sh

[2022-07-24 22:07] TomSchimansky commented on #231
In your case a solution would be to crop the image, so that it fits the circle perfectly. Then you could make the button smaller and still get rounded corners.

[2022-07-24 22:07] #231 closed

[2022-07-24 23:06] koka051 commented on #307
Try this:
[code]

[2022-07-25 04:59] ArielMAJ commented on #305
Duplicate #277

[2022-07-25 07:38] avalon60 commented on #305
Thanks @ArielMAJ

[2022-07-25 10:28] #307 closed

[2022-07-25 12:48] mewforest opened #314 "PySimpleGUI support"
It would be great, if your library will support [PySimpleGUI](https://github.com/PySimpleGUI/PySimpleGUI) (tkinter based library).

[2022-07-25 20:41] codeCollision4 opened #316 "Request - CTk.Spinbox & CTk.Notebook"
I read some other issues and saw that it is possible to create buttons that switch "tabs" similar to the notebook. I am not sure if that is how to implement a custom tkinter style notebook. If so I will do that. However, I have not seen anything about spin boxes. It would be really nice if these were apart of custom tkinter. Or if there is another way to implement them I would appreciate some insi

[2022-07-25 21:18] felipetesc opened #317 "Enhancement: add active state color for button"
Hello there! I would like to propose the addition of the active state background color for buttons.

#### How to implement the feature:

This can be achieved by adding a property inside the constructor of CTkButton, like this:

[code]

By adding a simple command inside the constructor like this
(I placed after the line _**`self.border_color = ThemeManager.theme["color"]["button_border"] if border_

[2022-07-25 21:27] felipetesc commented on #316
I have used buttons and a frame for that:
Also, you can  check
https://github.com/TomSchimansky/CustomTkinter/issues/229#issuecomment-1173146775
https://github.com/TomSchimansky/CustomTkinter/issues/100#issue-1244114141
https://felipetesc.github.io/CtkDocs/#/multiple_frames
https://github.com/TomSchimansky/CustomTkinter/discussions/259

![Peek 25-07-2022 18-21](https://user-images.githubuserconten

[2022-07-25 22:05] codeCollision4 commented on #316
@felipetesc Thank you so much for the resources. They will help tremendously with create a Notebook style interface.
Do you know of any way to create a Spinbox? If not I totally understand, thank you for your time.

[2022-07-26 01:27] MICKNICK911 opened #318 "Screen widgets"
please is there a possibility that screen widgets can be added to this project?
Switching through multiples screens can really make CustomTkinter more interactive and add up to the overall appeal of this package.
Thanks for your hard work I am very impressed

[2022-07-26 09:22] staceellis opened #320 "CTkComboBox bind <<ComboboxSelected>>"
Hello, is it possible to create an "ComboboxSelected" event binding to a CTkComboBox like is possible with the ttkComboBox?
I have attempted the code below which doesn't seem to work. I have also tried with "Button-1" but this also doesn't seem to work.

[code]

Any advice would be much appreciated.
Thank you.

[2022-07-26 13:39] Moeman101 commented on #291
I can paste the assests folder in the location it looks for them and everything works.  But there are a few wonky GUI bugs that make my app look weird.

[2022-07-26 13:54] Moeman101 commented on #290
There seem to be more visual bugs than that.  If possible, im wondering if we can zoom and discuss the bugs.  Im in Germany working at the MPI in Freiburg so our timezomes should line up.

[2022-07-27 09:07] Moeman101 commented on #290
On my profile I have a public directory of the code.  Please let me know if you see anything that is causing the visual errors

[2022-07-27 10:55] Moeman101 commented on #318
Consider adding buttons to the top of a window that display a new layout

[2022-07-27 14:19] luizcbarros opened #323 "dpi_scaling - TclError: bad screen distance"
I have received this error over and over again.
I would like to know how it is possible to solve this error.

[code]

[2022-07-28 10:35] Moeman101 commented on #290
I was able to fix it.  The issue was something to do with Image.open's scaling.  I was able to manually pass resizing parameters and it fixed the gridding issue.

[2022-07-28 10:35] #290 closed

[2022-07-28 11:10] TomSchimansky commented on #318
You can do something like this to switch between multiple pages:
[code]

[2022-07-28 11:11] TomSchimansky commented on #323
Please also post a small example code that produces this error. And what platform are you using and which python version?

[2022-07-28 11:20] TomSchimansky commented on #290
Ok, currently I'm very busy with other stuff. But If you found other bugs just post them.

[2022-07-28 14:21] PosthumasFrankestein opened #324 "Invalid command name error after destroying window."
Every time destroy() is used Invalid command name error is thrown on the terminal. While it doesn't stop the program things like appearance mode is not carried over.
Error example:

[code]

Code example:
[code]

[2022-07-28 14:56] TheFallen-Cat commented on #324
why are your creating an object of class `App` again after destroying the current window? Is it for any specific reason or necessary?

[2022-07-28 15:09] PosthumasFrankestein commented on #324
It is a login system. So after "login" button is pressed current window is destroyed and the object of `App` is created.

[2022-07-28 15:57] Coding-Mania-Begins-Now opened #325 "Customtkinter moving a window"
How do you move the screen/window in customtkinter?

[2022-07-28 16:01] #325 closed

[2022-07-28 18:09] TheFallen-Cat commented on #324
Oh i see, does the error only occurs when you try to close the app?

[2022-07-28 19:39] #316 closed

[2022-07-28 19:40] codeCollision4 opened #326 "Request - CTk.Spinbox"
Is there already a way to create a spin box? If not is this something that is being considered as a feature? Thank you so much for all the hard work on this project! It's amazing and extremely helpful.

[2022-07-28 20:39] felipetesc commented on #323
Do this error remains if you use CustomTkinter without Anaconda ?

[2022-07-28 21:06] felipetesc commented on #318
Are you speaking  about something like this
![Peek 28-07-2022 18-04](https://user-images.githubusercontent.com/2336812/181637406-6a505599-fa97-4be0-9e0b-81db15ec325a.gif)
:

[2022-07-28 22:33] MICKNICK911 commented on #318
exactly like the one above

[2022-07-28 22:41] MICKNICK911 commented on #318
please is there also a possibility that widgets can overlap each other seamlessly without pushing other widgets out of order?

[2022-07-28 22:43] MICKNICK911 commented on #318
exactly

[2022-07-28 23:02] MICKNICK911 commented on #318
please is there an offline docs available?

[2022-07-29 00:42] PosthumasFrankestein commented on #324
I am not exactly sure what you mean. But this error occurs whenever I destroy a window and create a new one.

[2022-07-29 01:16] clinto22 opened #327 "New label.configure error"
Delete Issue. Solve was found. Apologies

[2022-07-29 04:29] #327 closed

[2022-07-29 07:02] TheFallen-Cat commented on #324
I tried using your code on my device, i also made a `App` class to check and it works perfectly on my device. So can you send the `complex_example` code? as far as i think there is an issue with the `complex_example` file.

[2022-07-29 10:50] PosthumasFrankestein commented on #324
`complex_example` is the same one as `complex_example` from the examples folder in this repo.

[2022-07-29 13:05] Hexseral opened #328 "Button Disabling Graphical Error"
I've encounterd this problem a few times where I will have a button to run a function and I will put the button state back to being disabled after the function completion and for whatever reason I get a weird graphical error:
![image](https://user-images.githubusercontent.com/54594278/181766486-f40efea4-02de-4370-abcd-175a0dcca318.png)

Not too sure why it occurs and I've expereinced it a few time

[2022-07-29 17:32] TomSchimansky commented on #328
Can you post the code and your platform, python and customtkinter version please?

[2022-07-30 10:51] wu-kash opened #330 "CTkEntry.configure(placeholder_text) does not update placeholder text shown in entry field."
[code]
Using entry.configure(placeholder_text = 'Text') has no effect after the widget is created, but configuring 'fg_color' works.

customtkinter version = 4.5.9
Windows 10

![issue](https://user-images.githubusercontent.com/40691785/181907623-1f958c0d-b9f8-4dd3-990f-e1a5f27472f7.PNG)

[2022-07-30 14:41] avalon60 opened #331 "Cannot set state argument with CTkTextbox.config() / CTkTextbox.configure()"
Trying to toggle between CTkTextbox being normal and disabled.

CTkTextbox.config does not recognise the "state" argument:

![image](https://user-images.githubusercontent.com/89534395/181919551-1127c29f-5204-43f1-b9a6-91a9c255b068.png)

[2022-07-30 15:19] TheFallen-Cat commented on #331
You're using `tk.DISABLED` which isnt supported by `CTk`, thus you have to pass `"disabled"` or `"enabled"` as a string to `state`

[2022-07-30 18:26] felipetesc commented on #330
I commented the line 176 from CTkEntry containing the text **_`if self.placeholder_text_active`_** and acquired the resutl from the image below:

![print](https://user-images.githubusercontent.com/2336812/181936704-ea48e46d-5790-485a-a4e0-139a203792c8.png)

[code]

I changed wu-kash code to this:

[code]

[2022-07-30 21:32] felipetesc commented on #328
I'm curious about something, are you using Anaconda ?

[2022-07-31 07:32] SALAHZEMALI opened #336 "ModuleNotFoundError: No module named 'customtkinter'"
import customtkinter
ModuleNotFoundError: No module named 'customtkinter'

[2022-07-31 08:30] PosthumasFrankestein commented on #336
Did you install `customtkinter`?

[2022-07-31 11:17] avalon60 commented on #331
@TheFallen-Cat that makes no difference, the value of tk.DISABLED resolves to "disabled", and  if you look at the error, it's "-state" that it's balking on. The textbox code actually uses tkinter, under the hood, so it would be logical to assumed that tk.DISABLED should work, for consistency.

Besides, I tried using a literal, "disabled" prior:

![image](https://user-images.githubusercontent.com/8

[2022-07-31 12:56] TomSchimansky commented on #331
There are many things that are not working for the CTkTextboxy. It isn't completed yet.

[2022-07-31 13:02] avalon60 commented on #331
Hi @TomSchimansky.  I have submitted a solution for your review - it's a two line fix.

[2022-08-01 00:55] antrrax opened #340 "Please change user fonts directory on linux"
On linux the user fonts should be in this directory:
~/.local/share/fonts/

instead of
~/fonts/

https://help.gnome.org/admin/system-admin-guide/stable/fonts-user.html.en

-----
file: font_manager.py
https://github.com/TomSchimansky/CustomTkinter/blob/ec8cecb5757850d2e1d03062bdca68fd95338677/customtkinter/font_manager.py

[2022-08-01 15:53] Hexseral commented on #328
Sorry for the delayed response, I am not using andaconda. I will try to get the rest of your requested info when I can!

[2022-08-02 13:33] akseidel opened #345 "4.5.10 - self.geometry error"
After upgrading to 4.5.10 my code fails at the self.geomtry line:
[code]

error statement is:

[2022-08-02 13:51] akseidel commented on #345
The issue shows up starting with 4.5.7.

[2022-08-02 17:12] akseidel commented on #345
I see this is the same as **Bug after changing the version from 4.5.6 to 4.5.9 (also to 4.5.7 or 4.5.8) #287**

[2022-08-02 17:58] akseidel commented on #345
The values initially passed to self.geometry were: 1129, 668, 160, -34
This evaluated to the geometry string: "1129x668+160+-34"
That is where that [x+-] in the message comes from.
Hardcoding to self.geometry("1129x668+160+-34") generates the same problem. Ok, fine, the parsing
has a problem with +-.
But hardcoding  to self.geometry("1129x668+160+34") generates a different error.
bad geometry spec

[2022-08-03 04:46] aryant-nigam opened #348 "The object type returned by any CTkinter widget is of NoneType therefore unable to use get() method for fetching values"
CTkinter widget constructors are not returning an object of respective widget type instead returning NoneType object that turns out to be of no use

[2022-08-03 04:57] captainbanaynays opened #349 "Get macOS to recognize fonts?"
I would like to use custom fonts, packaged with the project and referenced by path. However, when I include them in my theme.json, macOS raises a big stink in the console and uses the default system fonts.

`
2022-08-03 00:54:54.789 Python[26932:1307967] CoreText note: Client requested name "./fonts/Roboto/Roboto-Regular.ttf", it will get Times-Roman rather than the intended font. All system UI fo

[2022-08-04 08:02] splewdge opened #351 "Disabled buttons still trigger their corresponding event."
Even if you configure a button to be **disabled**, the linked event will *still be fired* on the button press. The code in the attached video is the file `/examples/complex_example.py`

https://user-images.githubusercontent.com/110092160/182795839-d08588b3-3224-4a88-b5c8-694e36cd1213.mp4

.

[2022-08-04 08:58] lmwenda commented on #351
I'll see what I can do and try help out.

Do you usually use tkinter?

[2022-08-04 09:19] TheFallen-Cat commented on #351
Did you make any changes to the `complex_example.py` code?

[2022-08-04 09:22] lmwenda commented on #351
Not yet, sorry. I'm new to the codebase and trying to work it out. I'm going to work on it now.

[2022-08-04 09:32] erik9631 commented on #65
Is there any work around for buttons?
They seem to be bugged as they are still using the collision boxes of the original TK buttons. Binding works, but you have to click on the "Ghost" of what the original TKinter button would look like (Since they are not stilled the same).

I consider this to be a pretty big problem since there is no way to map onRelease and onPress, only the command.

Is there

[2022-08-04 10:20] splewdge commented on #351
No

[2022-08-04 10:21] splewdge commented on #351
No, not really.

[2022-08-04 10:34] lmwenda commented on #351
Ah Alright, I'll see what I can do.

[2022-08-04 10:42] lmwenda commented on #351
It's strange because I ran the exact same code and the disabled button functions as it should. the `button_event()` doesn't run since its disabled

[2022-08-04 10:49] lmwenda commented on #317
I can try my best to add this feature.

[2022-08-04 11:26] splewdge commented on #351
I found a fix. One [this](https://github.com/TomSchimansky/CustomTkinter/blob/master/customtkinter/widgets/ctk_button.py#L365) line, `is not` should be changed to `!=` to fix the bug (at least for me). Even if it doesn't change anything for you, it would be a better practise to use `!=` than `is not`, since `!=` checks for value inequality, whereas `is not` checks for reference inequality, and in

[2022-08-04 11:28] lmwenda commented on #351
Alright, thanks. I can create a pull request.

[2022-08-04 11:29] splewdge commented on #351
I made one [here](https://github.com/TomSchimansky/CustomTkinter/pull/352).

[2022-08-04 11:33] lmwenda commented on #351
Alright, thanks.

[2022-08-04 12:08] lmwenda commented on #317
I made a pull request introducing this feature. Hope it works fine thanks.

[2022-08-04 12:20] lmwenda commented on #331
@avalon60 Is it solved? I think if you want to configure the state you might want to use .configure() instead of .config()

[2022-08-04 12:42] wu-kash commented on #330
It is strange that only entry1 in felipetesc code behaves as it should with the placeholder text, where as entry2 and entry3 are created with the text 'entry2' and 'entry3' inserted in to their entry fields. Erasing the text does reveal the placeholder text for entry 2 and entry3

[2022-08-04 18:23] erik9631 opened #354 "Infinite recursion if foreground or background color is set to None"
There is an issue where if foreground or background color is set to None and component depth is greater than 2, then infinite recursion would occur.

filename: widget_base_class.py
line 156:
[code]
should be

[code]

[2022-08-04 23:25] legopitstop commented on #345
Additionally when you just enter a screen position `self.geometry("+300+300")` it throws a similar error

[2022-08-05 12:23] TomSchimansky commented on #354
Thanks for reporting this 👍. I fixed it now.

[2022-08-05 12:23] #354 closed

[2022-08-05 12:35] TomSchimansky commented on #351
@splewdge which python version are you using?

[2022-08-05 12:36] splewdge commented on #351
Python 3.9

[2022-08-05 14:13] TomSchimansky commented on #351
I got the point why comparing with != and "is not" is different, but I wonder why I never had problems with this. But nevermind, I changed it now...

[2022-08-05 14:13] #351 closed

[2022-08-05 18:21] daultimateboss85 opened #355 "Usage with spyder"
I recently installed anaconda... Spyder comes with it. I had customtkinter installed already and it still works in the that comes with python but in spyder it says no module name customtkinter. Is there something i'm missing or it doesn't work with spyder?

[2022-08-05 18:41] TomSchimansky commented on #345
I changed the parsing and the geometry method now works with the following formats:
[code]
Tested in `test/manual_integration_tests/test_window_geometry.py`
I will upload the next version very soon.

[2022-08-05 18:50] TomSchimansky commented on #287
I changed the parsing and the geometry method now works with the following formats:
[code]
Tested in `test/manual_integration_tests/test_window_geometry.py`
I will upload the next version very soon.

[2022-08-05 18:50] #287 closed

[2022-08-05 18:51] #345 closed

[2022-08-05 18:55] TomSchimansky commented on #355
spyder ist just an IDE. If you can import customtkinter depends on if it is installed on the python version you are currently using. And with spyder you are probably using the anaconda python version. So you have to install customtkinter on the anaconda python version. In the terminal you have to activate your conda environment and then pip install customtkinter.

[2022-08-05 21:31] TomSchimansky commented on #318
Docs are only available on the wiki tabs but can be downloaded as markdown files. Widgets cannot overlap in tkinter as far as I know. And especially customtkinter widgets can't because of the rounded corners rendering.

A tabview was already requested: https://github.com/TomSchimansky/CustomTkinter/issues/33

[2022-08-05 21:31] #318 closed

[2022-08-05 22:21] TomSchimansky commented on #324
@PosthumasFrankestein this is not how you create a second window with customtkinter:
[code]
It makes no sense doing it like that, you cannot start a second `.mainloop()` within a callback function of a button.

This would be a full example on how to create a single second window with CTkToplevel, which can be opened from the main window, and from which can exists only once at a time:
[code]

[2022-08-05 22:21] #324 closed

[2022-08-05 22:30] TomSchimansky commented on #314
I don't know how PySimpleGUI works and how I would integrate customtkinter there. Maybe you should ask developers of PySimpleGUI to do this or if this is possible...

[2022-08-05 22:30] #314 closed

[2022-08-05 22:32] #285 closed

[2022-08-05 23:11] TomSchimansky commented on #109
This shouldn't happen in the current version, at least for m it is not reproducible.

[2022-08-05 23:11] #109 closed

[2022-08-06 08:17] lmwenda commented on #340
I can work on this issue for you.

[2022-08-06 09:52] PosthumasFrankestein commented on #324
I am updating my whole project from Tkinter to customtkinter. It worked fine on Tkinter so I thought it would work on customtkinter too. I see I will try this.

[2022-08-06 10:37] BatelG commented on #109
Ok, I will look into it. Thank you!

On Sat, 6 Aug 2022 at 2:12 Tom Schimansky ***@***.***> wrote:

[2022-08-06 11:15] antrrax commented on #340
I appreciate if you can do this

[2022-08-06 11:21] lmwenda commented on #340
No problem, I'll start working on it soon.

[2022-08-06 12:15] TomSchimansky commented on #340
Do you know if this also applies to other desktop environments or just GNOME? Or is this independent of the desktop environment?

[2022-08-06 12:34] TomSchimansky commented on #340
So it seems to be working on kali Linux but this is only one test, and that's not enough for me.

[2022-08-06 12:46] lmwenda commented on #340
What type of linux do you have? @antrrax

[2022-08-06 12:49] antrrax commented on #340
@lmwenda
Linux Mint 20.3 Cinnamon

[2022-08-06 12:56] antrrax commented on #340
@TomSchimansky , @lmwenda
see this:
https://wiki.archlinux.org/title/Fonts

[2022-08-06 13:09] lmwenda commented on #340
Yeah I've just done some research and this is true.
I'm currently making some changes and should make a pull request for @TomSchimansky to review soon.

[2022-08-06 13:11] antrrax commented on #340
A complement to the previous answer.
see the file
/etc/fonts/fonts.conf

**the following element will be removed in the future:**
<dir>~/.fonts</dir>

[2022-08-06 13:55] lmwenda commented on #340
The first pull request was a mistake so I closed it however I solved it with #353 pull request. I'm still waiting for @TomSchimansky to review

[2022-08-07 05:16] mmani648 opened #361 "How to delete text from customtkinter.CTkTextbox(master=self)"
delete(1.0,END) not working

[2022-08-07 07:38] TomSchimansky commented on #361
The textbox is not completed yet.

[2022-08-07 07:38] #361 closed

[2022-08-07 09:04] mmani648 commented on #361
.textbox.delete("1.0","end")  worked for me

[2022-08-07 13:03] 32-git opened #364 "Question: How does one configure the internal padding of a button without grid()?"
Currently, I find myself in a dilemma, which is the following:

I have a CTk button which I would like to add internal padding to. Based on what I know so far, I would need to use grid() to make that possible. However, I have used the 'relx' and 'rely' attributes of place() to position my button and would like to keep it that way.

Hence, my question: Is there another way of adding internal paddin

[2022-08-07 15:33] MICKNICK911 opened #367 "Resize background image"
Please how do I resize background image to adapt to window size as I resize the window?

[2022-08-07 15:37] MICKNICK911 opened #368 "Resize buttons"
How do I resize buttons as root window gets bigger or smaller?
Will appreciate an example.

Keep up with the good work

[2022-08-07 17:11] geoffbroth opened #369 "TextBox Jump to End"
With tkinter you can jump to the end of the textbox with the .see('end') method.  Is this available with customtkinter?  Thanks!

[2022-08-07 18:00] TheFallen-Cat commented on #367
This [StackOverflow](https://stackoverflow.com/questions/24061099/tkinter-resize-background-image-to-window-size) might help you.

[2022-08-08 08:50] Nomanpour commented on #369
https://github.com/TomSchimansky/CustomTkinter/discussions/297

[2022-08-08 15:27] slo1958 opened #373 "Typo in example of CTkRadioButton"
The example code in the wiki for CTkRadioButton includes the definition of two radio buttons. Both buttons are defined with 'value=1'. I think the second button should be defined with another value, for example 'value=2'.

[2022-08-08 17:09] galipyuksel opened #374 "Customtkinter bind method - Label bind?"
`self.label_3 = customtkinter.CTkLabel(master=self.frame,
                                            text="Register.",
                                            cursor="hand2")
        self.label_3.place(relx=0.5, rely=0.84, anchor=tkinter.CENTER)
        self.label_3.bind("<Button-1>", lambda e: self.openUrl)`

Why didn't this code work for me? I click on the text but it doesn't work

[2022-08-09 07:34] galipyuksel opened #375 "Customtkinter destroy"
After the `self.destroy()` code is activated, something appears on the console as in the picture. What is this?
![image](https://user-images.githubusercontent.com/85893202/183591136-1ffaa701-fb1d-4657-af33-d4e92f9c6af1.png)

[2022-08-09 19:10] austrianadrian opened #376 "CTkButton text alignment"
Hi there!
is there a solution, if I want to set the text and image alignment in the button on the left or right side ?

[2022-08-10 01:57] DyNgPinasOfficial opened #378 "CTkTextbox placeholder and UI problem"
- There is no documentation yet about this on the Wiki of this repository.
- Doesn't recognize the placeholder of CTk
- tried other ways of putting a placeholder but still not working
- The inner border of the textbox is visible
![image](https://user-images.githubusercontent.com/50480977/183793349-804ecda2-a788-43cb-9417-30b1fb88fdfb.png)

[2022-08-10 11:20] TheFallen-Cat commented on #376
Yes, in order to place the image on right or left you can use the argument `compound="right"/"left"`

[2022-08-10 11:33] austrianadrian commented on #376
ok.. sorry.. I didn't mean the compound.. I mean the "justify" or "alignment" of both elements in the button element..
example:
Situation now:
|****image**TEXT****|

what I want:
|*image**TEXT****|
the alignment of both should be on the left..
or right..

[2022-08-10 11:36] austrianadrian commented on #376
![Bildschirmfoto 2022-08-10 um 13 36 38](https://user-images.githubusercontent.com/110934483/183891752-9091fd02-1865-4320-b30c-d8263e47cf1c.png)

[2022-08-10 11:37] austrianadrian commented on #376
so there is my optic problem...

[2022-08-10 14:29] kdc1919 opened #380 "Binding keys"
Good Day,
Firstly I'll like to say well done Mr. Schimansky and thank you very much for creating such a wonderful framework. I enjoy using the widgets you've designed. It's very impressive work.  Currently right now I'm working on a project whereby users must have short-cut keys on the desktop to carry out specific tasks. I'm having significant problem binding keys using your framework. Do you kno

[2022-08-10 16:21] TheFallen-Cat commented on #380
Can you send any code examples, regarding what you're having problems with?

[2022-08-10 16:22] TheFallen-Cat commented on #376
Ok, so you want the images to stick to the left side, no matter how long the text is?

[2022-08-10 16:24] TheFallen-Cat commented on #374
Does it throw any errors? Also, why are you taking an argument `e` in your lambda function if you're not using it?

[2022-08-10 16:28] kdc1919 commented on #380
Here is a snippet of code. As an example let's say I want to bind the enter key to a login button

[code]
 And below is the function login_user that is bind to the login btn

[code]

The above code should work in regular tkinter but it doesn't appear to work with CustomTkinter. Am I doing something wrong or is there an alternative solution to this problem?

Regards,
Kevin

[2022-08-10 16:43] austrianadrian commented on #376
the images and the text ..
like the following picture..

[2022-08-10 16:46] austrianadrian commented on #376
![Bildschirmfoto 2022-08-10 um 18 43 30](https://user-images.githubusercontent.com/110934483/183966955-469c6d29-1522-4cdd-9a25-240f2f49b720.png)

[2022-08-11 06:27] TheFallen-Cat commented on #380
You can just replace the line `login_btn.bind('<Return>', lambda event: self.login_user())` to `login_btn.bind('<Return>', self.login_user)` there is no need to use the lambda function unless you are taking any arguments(which you're not, in this case)

[2022-08-11 10:08] 32-git opened #381 "CTkSwitch fg_color(s)"
In the documentation for the fg_color parameter of the CTkSwitch it says:

When I set this to a grey, it worked for when the switch is off. That means, the switch is off, and the color behind the button is grey. But in an on state, the switch's color is blue, which I want to change.

![image](https://user-images.githubusercontent.com/110297700/184113322-afecd5ec-4c4f-4d02-9570-87e73b16c1fc.png)
Sw

[2022-08-11 10:17] 32-git commented on #381
Apologies for the previous disturbances with the issue, but my problem is the following.

In the documentation for the fg_color parameter of the CTkSwitch it says:

When I set this to a lime green, it worked for when the switch is off. That means, the switch is off, and the color behind the button is lime green. In an on state, the switch's color is blue.

![image](https://user-images.githubuserco

[2022-08-11 14:17] kdc1919 commented on #380
That's what I had in the beginning. That doesn't work.

[2022-08-11 20:07] TomSchimansky commented on #376
I will add this feature next week when I have time!

austrianadrian ***@***.***> schrieb am Mi., 10. Aug. 2022
18:46:

[2022-08-12 00:26] austrianadrian commented on #376
😍

[2022-08-13 10:59] #381 closed

[2022-08-14 18:39] CarlosHGL commented on #380
I'm having the same problem, the bind method doesn't seem to work, no error appears in the terminal, it just doesn't execute the function when the command is sent.

[2022-08-14 22:29] TomSchimansky commented on #373
Fixed.

[2022-08-14 22:29] #373 closed

[2022-08-15 07:08] austrianadrian commented on #70
i have the same problem with cget().. how did you solve it ?
self.button = customtkinter.CTkButton(master=btn_frame, text="CTkButton", command = self.button_name)

def button_name(self):
print(self.button.cget("self.button.text")

terminal:
_tkinter.TclError: unknown option "-self.button.text"

[2022-08-15 07:18] austrianadrian commented on #70
okay.. fixed it too..

The solution was:

def button_name(self):
print(self.button.text)

[2022-08-15 07:19] ufojava commented on #70
Glad to hear it!

On Mon, 15 Aug 2022 at 08:18, austrianadrian ***@***.***>
wrote:

[2022-08-15 14:38] Mohammed-Ibrahim99 commented on #380
Hello, not entirely sure but when I tested with normal tkinter just pressing return did not work, I had to keep clicking tab till the button was highlighted then it worked fine. I had to bind the parent window which worked for both tkinter and customtkinter, might not be a perfect solution but it works for now. It works with top level and the root tkinter/customtkinter window.

[code]

[2022-08-16 00:42] Jdsdofp commented on #375
it's pointing the same log in my project🤔

[2022-08-16 13:01] luisotaviocintra commented on #375
Here too, same message...

[2022-08-16 14:29] Barry-sze opened #386 "AttributeError: 'CTkTextbox' object has no attribute 'get'"
How to resolve ?
AttributeError: 'CTkTextbox' object has no attribute 'get'
Textbox_3=customtkinter.CTkTextbox(master=frame_1,height = 165,width=290)
Textbox_3.get() can not work.
Pls help

[2022-08-16 15:09] Mohammed-Ibrahim99 commented on #386
That it is kind of weird, for now you could use this:

[code]

One thing I am a bit worried about is the text box is not the documentation which could mean the owner has future plans for it later on, this means it could change at any time.

[2022-08-16 16:25] TomSchimansky commented on #386
The CTkTextbox is still under development and therefore also not present in the wiki. A lot of functionality is still missing.

[2022-08-16 16:25] #386 closed

[2022-08-16 16:27] TomSchimansky commented on #378
The CTkTextbox is under development and not finished yet. Therefore its not mentioned in the wiki. I just made it usable in the pip version by accident and now everyone is complaining about it not working properly, maybe I will just remove it in the next upgrade until its finished 😅.

[2022-08-16 16:27] #378 closed

[2022-08-16 16:28] TomSchimansky commented on #386
https://github.com/TomSchimansky/CustomTkinter/issues/378

[2022-08-16 16:28] TomSchimansky commented on #369
Look here: https://github.com/TomSchimansky/CustomTkinter/issues/378

[2022-08-16 16:28] #369 closed

[2022-08-16 16:34] #323 closed

[2022-08-16 17:30] TomSchimansky commented on #375
@galipyuksel can you post an example code where this appears for you?

[2022-08-16 17:45] TomSchimansky opened #388 "Font size in pt unaffected by user scaling"
A font size in pt (`("Arial", 20)`) doesn't gets scaled by the user scaling set by `customtkinter.set_widget_scaling`. The text gets automatically scaled by the system on Windows, that's why its unaffected by the scaling. But for the user scaling this should not be the case. So in theory there should be a difference between the system scaling and the user scaling value in customtkinter which is cu

[2022-08-16 18:25] TomSchimansky commented on #376
Duplicate of https://github.com/TomSchimansky/CustomTkinter/issues/164

[2022-08-16 18:25] #376 closed

[2022-08-16 18:26] #197 closed

[2022-08-16 19:20] captainbanaynays opened #389 "ipadx and ipady args in grid() and pack() not accepting tuple arguments, int argument only pads one side"
[code]

When I try to run above code, I get a TclError: bad ipadx value "10 50": must be positive screen distance.

If instead I set ipadx=10 and ipady=10, this is the result:
<img width="712" alt="Screen Shot 2022-08-16 at 3 16 44 PM" src="https://user-images.githubusercontent.com/22987660/184963576-a898f883-3d02-4fe3-bf2c-a4ab97e65d68.png">

In a more complex example, the following code produces

[2022-08-16 19:32] CarlosHGL opened #390 "alpha channel for widgets"
I would love it if adding the alpha channel option for customtkinter widgets and canvas would help a lot, and solve a lot of problems.

[2022-08-16 19:34] captainbanaynays commented on #389
The text is being gridded in this way instead of using the baked in text option for the checkbox to left align the checkboxes, but there should still be internal padding to the left of the leftalign.

[2022-08-16 20:06] TomSchimansky commented on #389
Sometimes I thought the internal padding of tkinter isn't working at all but sometimes it has an effect, but its not reliable, I just wouldn't use it. I don't know what's the problem there but you would have to write a bug report for tkinter, because I have no influence on the geometry managers with customtkinter, its all tkinter.

I don't know exactly how you want your example to look like, but I

[2022-08-16 20:12] TomSchimansky commented on #389
And as a tip, I would structure your tkinter programs with classes like I described here: https://github.com/TomSchimansky/CustomTkinter/wiki/Multiple-frames

[2022-08-16 20:12] #389 closed

[2022-08-16 20:56] TomSchimansky commented on #390
alpha channel and transparent is not possible in tkinter and therefore will be never possible in customtkinter. There are some limited transparency options for tkinter, where you can set a specific color to be transparent, but it's not useful and reliable across platforms.

[2022-08-16 20:56] #390 closed

[2022-08-17 05:12] austrianadrian commented on #164
Good Morning...
is this problem now solved ?
If yes..
what ist the special word ? align_content ?? at the moment not integrated in the current version..

[2022-08-17 05:28] Barry-sze opened #393 "Can not work for update the CTkProgressBar value, why?"
for n in range(10):
       progressbar.set(n/10)

progressbar = customtkinter.CTkProgressBar(master=frame_1,)
progressbar.place(x=20,y=380)
progressbar.set(0.0)

[2022-08-17 09:01] TomSchimansky commented on #164
It's not solved yet, but I will do it in the next days. The pull request provided by @DomGravante was not sufficient, because it destroyed other functionality, but I will try to do it...

[2022-08-17 12:49] luisotaviocintra opened #395 "cget command to get variable"
cget doesn't work either.

[2022-08-17 14:47] TomSchimansky commented on #395
Its not implemented... Maybe I will do it at some point

[2022-08-17 14:58] luisotaviocintra commented on #395
fine, I managed to get around it. thanks!

[2022-08-17 18:34] Cptain opened #396 "Line-height option for text"
Is it possible to customize this spacing between each new line (line-height) somehow?

![image](https://user-images.githubusercontent.com/5928159/185216611-73eefdab-b775-4179-9f50-48f0a8565cde.png)

[2022-08-17 20:41] CarlosHGL commented on #396
if you want the buttons to have a spacing between them you can use padx or pady.

example:
clickme = CTkButton(master=root, text=click me,)
clickme.grid(column=1, row=0, padx=0, pady=15)

[2022-08-17 21:39] TomSchimansky commented on #396
@Cptain The tkinter/customtkinter label does not allow for any changes of the line height. You would have to use a textbook to achieve this. There will be a CTkTextBox, but its not completed yet.

[2022-08-17 21:39] #396 closed

[2022-08-18 02:36] Unbandit2006 opened #398 "[REQUEST]: Menu Widget"
I don't really know what goes under the hood at CustomTkinter, but if you can please do make a Menu Widget.

[2022-08-18 08:52] TomSchimansky commented on #398
I tried it for a long time, but its not possible to create a menu widget as a new window reliably on all platforms. So you would have to use the tkinter.Menu.

[2022-08-18 08:52] #398 closed

[2022-08-20 17:31] 32-git opened #402 "Why can you not have an InputDialog be in the same window?"
Why is it that another window is automatically opened for InputDialogs? Or am I missing something? Because I would really like to have an input field within the originial app window.

[2022-08-21 19:15] Mohammed-Ibrahim99 opened #403 "CTK.switch with two labels"
I was wondering if it's possible to add a text on both sides of the switch just like constant and random shown below. Is this currently available? if not would it be a good idea to add it as an option to the current switch?

![image](https://user-images.githubusercontent.com/61741122/185807316-50e80b47-f110-4e00-b5aa-257063ac2dc4.png)

I was able to do the example above using the following piece o

[2022-08-22 14:15] sim2511 opened #405 "AttributeError: 'CTkTextbox' object has no attribute 'delete'"
Hello,

I can not text.delete(0, END), but its already a command for textbox, any idea why ?

here the error message :
AttributeError: 'CTkTextbox' object has no attribute 'delete'

Regards,

[2022-08-22 15:37] ahmadthegoat opened #406 "AttributeError: module 'customtkinter' has no attribute 'CTK'"
I don't know what has happened, the program worked before but now this error keeps spawning. PLEASE HELP!

[2022-08-22 15:59] TomSchimansky commented on #406
The window object is called `CTk` if you main that...

[2022-08-22 15:59] #406 closed

[2022-08-22 16:07] TomSchimansky commented on #405
The textbook is not completed: https://github.com/TomSchimansky/CustomTkinter/issues/378

[2022-08-22 16:07] #405 closed

[2022-08-22 17:29] sim2511 commented on #405
Ok thanks for your answer. Do you see a workaround i could do ?

[2022-08-22 17:49] rylemikoestrella commented on #406
![image](https://user-images.githubusercontent.com/13154564/185986121-a6cd753e-d606-4cc1-922e-2938756137d5.png)

No, we mean that this specific error 'module 'customtkinter' has no attribute 'CTk'' is happening, even on the README page's sample code. Other attributes no longer working are:
- set_default_color_blue
- Ctk()
- geometry
- mainloop()
-  + many others

Would also like a guide to get thr

[2022-08-22 21:02] CarlosHGL opened #407 "CTkTextbox is workint?"
how do i get input from CTkTextbox widget in Tkinter?

[2022-08-22 21:04] TomSchimansky commented on #407
https://github.com/TomSchimansky/CustomTkinter/issues/378

[2022-08-22 21:04] #407 closed

[2022-08-23 05:59] LWF53 opened #408 "CTkTextbox: binding a variable to widget text contents"
Textbox= customtkinter.CTkTextbox(master=root_tk, placeholder_text="CTkTextbox", textvariable=StringVar)

[2022-08-23 08:01] TomSchimansky commented on #408
https://github.com/TomSchimansky/CustomTkinter/issues/378

[2022-08-23 08:01] #408 closed

[2022-08-23 18:08] liviayas opened #409 "Creating .exe file with pyinstaller"
Hi,

I ended up here because I just finished a super simple code, using customTkinter, and tried to create a .exe file with pyinstaller.
The compilation worked, but the application don't.
When I try to run it, a unhandled exception appears: "Failed to execute script [...] the directory (where the customtkinter is) could not be found. [...]" and this page was recommended.

Can someone help me?

[2022-08-23 18:55] liviayas commented on #402
Can't you use the .CTkEntry()?

If this is the case, there is a simple example here: https://pypi.org/project/customtkinter/0.3/

[2022-08-24 06:30] CarlosHGL commented on #395
could you show me your solution?

[2022-08-24 06:43] Himanshu700296 opened #411 "Can anyone help me to align the text inside a optionmenu, i want to make the text to center"

[2022-08-24 11:08] liviayas commented on #409
Hello,

I'm sorry, after sending this issue I was looking in the closed sections and found this resolution [#38](https://github.com/TomSchimansky/CustomTkinter/issues/38).

I tried it and it worked, thank you and sorry!

[2022-08-24 12:41] luisotaviocintra commented on #395
In my case, I just needed the text of a button, so I simply used:
var = IntVar()
btn = customtkinter.CTkButton(master, text='A', textvariable=var)
text = btn.text
variable = btn.textvariable
...

[2022-08-24 12:41] luisotaviocintra commented on #395
No meu caso, eu só precisava do texto de um botão, então simplesmente usei:
var = IntVar()
btn = customtkinter.CTkButton(master, text='A', textvariable=var)
text = btn.text
variable = btn. variável de texto
...

[2022-08-24 12:43] luisotaviocintra commented on #395
In my case, I just needed the text of a button, so I simply used:
var = IntVar()
btn = customtkinter.CTkButton(master, text='A', textvariable=var)
text = btn.text
variable = btn.textvariable

[2022-08-24 13:25] Barry-sze opened #413 "How to use gui.update_idletasks() in CustomTkinter"
def StartProgress():
    for i in range(5):
        progress_var['value'] += 20
        stringvar.set(progress_var['value'])
        # get the value
        label.config(text=stringvar.get()+' %')
        # update value
        gui.update_idletasks()
        time.sleep(1)

[2022-08-24 19:57] #409 closed

[2022-08-25 08:04] wojas007 commented on #253
Hello,
The regular drop-down menu has limited options. TKinter also has combobox which look much better in some cases. The current combobox in CTk doesn't look good for longer lists ; /

[2022-08-25 13:56] Barry-sze opened #415 "'CTkTextbox' object has no attribute 'delete'"
'CTkTextbox' object has no attribute 'delete'

How to fix it?
Thx

[2022-08-25 14:03] SanderBevers22 opened #416 "Wrong option menu display"
Unfortunately I cannot post my code here but I can give an example:

Whenever I want to use the CTkOptionMenu I do this by menu = ctk.CTkOptionMenu(master=frame, values=["Option 1", "Option 2"], command=random function here)
menu.grid(row=a row, column= a column)

However, I get this drop down menu that looks like tkinter and not customtkinter:

<img width="112" alt="optionmenu" src="https://user-

[2022-08-25 14:36] dibakarbose opened #417 "Is there no Menu widget for Custom Tkinter ?"
Hi,

I was not able to find custom Menu Widget. If I use the default one and use the dark theme the result which I get is as below

![image](https://user-images.githubusercontent.com/16408964/186693971-9ae52623-9fe1-4923-9dd9-f6898e4f38cf.png)

If the menu bar color also changes based on the theme it would look better I believe. Anything possible like that ?

[2022-08-25 15:35] dibakarbose opened #418 "Issue with window display"
For the below code I am getting this kind of display. Why is there extra white boxes in the window. I have just added padding only. Is there any way to get rid of that.

[code]

The output that I am getting is below :
![image](https://user-images.githubusercontent.com/16408964/186708301-00b6fedd-9248-4eb1-a6f0-3133e9c887f9.png)

Can anyone please help me with this ?

[2022-08-25 15:48] dibakarbose commented on #418
It seems that CTkFrame is automatically adding a `fg_color` and hence it shows like this.

[2022-08-25 17:50] felipetesc commented on #417
Have a look at https://github.com/TomSchimansky/CustomTkinter/issues/220

[2022-08-25 18:12] TomSchimansky commented on #416
Have a look at https://github.com/TomSchimansky/CustomTkinter/issues/304 and https://github.com/TomSchimansky/CustomTkinter/issues/196

[2022-08-25 18:12] #416 closed

[2022-08-25 18:13] TomSchimansky commented on #403
Currently its not available, maybe I will add it at some point, but currently there are more urgent things...

[2022-08-25 18:13] #403 closed

[2022-08-25 18:14] TomSchimansky commented on #415
Have a look at: https://github.com/TomSchimansky/CustomTkinter/issues/378

[2022-08-25 18:14] #415 closed

[2022-08-25 18:16] TomSchimansky commented on #402
A CTkInputDialog opens a new window and an entry is a widget inside the window...

[2022-08-25 18:16] #402 closed

[2022-08-25 21:09] TomSchimansky commented on #418
The frames have a default color yes, if you want them to be the same as the background you have to set `fg_color=None`. But somehoww your frames are in light mode while the window is in dark mode. Maybe try calling `self.set_appearance_mode("Dark")` at the beginning of the program.

[2022-08-26 07:51] jericjan opened #419 "name argument for widgets."
In tkinter, you can give widgets names with the `name` argument. I noticed that I cannot do that with CustomTkinter. I mainly use it to find the widgets again with `nametowidget()` and then change their text. I've changed my code to use StringVars instead which was, in hindsight, what I should have done in the first place. So my problem is fixed but I'd still need the `name` argument still if, for

[2022-08-26 16:47] dibakarbose commented on #417
Thanks.. I will try this

[2022-08-26 16:48] dibakarbose commented on #418
Sure. I will try that

[2022-08-29 02:44] jericjan commented on #419
After looking into the code, I realized that the name actually does get set and creating a CTkLabel actually creates a tkinter.Frame with a tkinter.Label as its child. So instead of using `.frame.my_widget_name` I used `.frame.!ctklabel.my_widget_name` and it worked as it should.

[2022-08-29 03:39] jericjan commented on #419
Nevermind, this becomes an issue when you pack multiple widgets in a row and you end up with widget path names such as `.frame.!ctklabel` and `.frame.!ctklabel2`. This can get annoying when you add widgets in the future and those path names change.

[2022-08-30 13:09] mAuNil75 commented on #380
Hi,

Having similar problem with CTkComboBox. Trying to bind a ComboboxSelected-event to print to console but nothing happens, not even a error message. Could it be that the event-names doesn't match the Ctk-widgets?

[2022-09-01 01:22] billalkuet07 opened #425 "Example request for plotting an image in CustomTinker"
Hi I am trying to develop an image viewer using customTinker. I can take an image input by following code but do not know how to show in specific location. Here is my code.

        #opening images
        self.image1=ImageTk.PhotoImage(Image.open(os.getcwd()+"\\5FB3A2D8.JPG"))

[code]

Now, how I can show/plot the image inside the  self.frame? could you help me by small snippent?

[2022-09-01 09:59] icanhackyou commented on #425
from PIL import Image,ImageTk
graphic_image=Image.open("graphic.png")
graphic_image=graphic_image.resize((34,34),Image.ANTIALIAS)
graphic_image=ImageTk.PhotoImage(graphic_image)
label=ctk.CTkLabel(frame,image=graphic_image)
label.place(x=830,y=540)

[2022-09-02 18:57] 1mkRE commented on #38
Hello after i creating my .exe file according to the description above respektively dokumentation, i get farther the error - Failed to execute script xxxx   in Windows 10 64 bit. First i tryed out to change my design at a bigger project with the same error, after that i tryed out any of your example project with the same problem.

Please is there any other solution to fix it?

Thanks.

[2022-09-04 05:41] Aadhityaa04 commented on #375
link for the code: [https://github.com/Aadhityaa04/Customtkinter-destroy---error/blob/2fa951752cbc9e26819997b1ef0e596a96fbcb77/playgrund.py](url)
<img width="343" alt="Screenshot 2022-09-04 110957" src="https://user-images.githubusercontent.com/112793792/188299195-9c2bdfaf-c1c4-460f-8737-f1d564717c02.png">
while clicking login button you will get the error. Maybe in line 25.

[2022-09-05 06:04] PosthumasFrankestein commented on #375
Your link is broken.

[2022-09-05 15:31] Aadhityaa04 commented on #375
Sorry for the inconveniences [Click this ](https://github.com/Aadhityaa04/Customtkinter-destroy---error)

[2022-09-06 00:35] Dreams005 opened #433 "How to detect change in txt file to update optionmenu with new line"
Pretty self explanatory, how can I detect a change in a txt file (new line added) and add that new line to the optionmenu?

I currently have some code that allows me to do this but it only displays the new value in the optionmenu after I close and relaunch the program

[2022-09-06 13:43] #433 closed

[2022-09-06 14:43] MrBananaPants opened #434 "Can't change button icon"
My app has a dark and light theme.
I'm now in the process of adding icons to the buttons to make their function clearer.

Because my app has a dark and light theme (and the user can switch themes in the settings screen), the icons inside the buttons also need to change when the theme changes.

Whatever I try, I always get an error when changing the theme. In some ways, it can change the icons once

[2022-09-07 12:36] lorelos commented on #291
I have a similar problem afer compiling with pyinstaller.

Here's a doc: https://github.com/TomSchimansky/CustomTkinter/wiki/Packaging#windows-pyinstaller-auto-py-to-exe

I'm sad I can't use the --onefile option...

`
Traceback` (most recent call last):
  File "customtkinter\__init__.py", line 20, in <module>
  File "customtkinter\theme_manager.py", line 16, in load_theme
FileNotFoundError: [Errno

[2022-09-08 20:00] PavtheDog opened #436 "Adding Scrollbar to the Textbox"
I been playing with CustomTkinter and notice that textbox doesn't have the capabilities to use the scrollbar. I added the following to ctk_textbox:

def set_scrollbar(self, scrollbar):
    self.textbox['yscrollcommand'] = scrollbar.set

Example:
self.textbox_1 = customtkinter.CTkTextbox(master=self.frame_right, height=200)
self.textbox_1.grid(row=7, column=0, columnspan=2, pady=20, padx=20, sticky

[2022-09-08 23:28] 2Beelzebub2 opened #437 "OptionMenu always choses one option on itself when window is open"
the option menu just does it alone the first time window is open and unlike the buttons putting "lambda:" didn't fixed it

[2022-09-09 10:03] MrBananaPants commented on #303
I'm working on a new app now and it looks like this issue still isn't completely fixed in version 4.5.10.
When I set a fixed width for the widget, it still overrides the set width when putting a long string in the label widget even though the length of the string doesn't exceed the width of the label widget. The string fits in the label widget without it needing to resize but it still resizes.

[2022-09-09 20:22] 32-git opened #438 "ComboBox dropdown has border which can't be removed"
The code I have for my ComboBox is the following:
[code]

And this is the output:
![image](https://user-images.githubusercontent.com/110297700/189436431-687796fc-8fb7-434f-9736-2c88f7f85fea.png)

`border_width=0` does not change anything for the dropdown, but merely for the selection menu above:
![image](https://user-images.githubusercontent.com/110297700/189436589-e1ea74ca-9586-4a49-9f88-0fee9e0a

[2022-09-10 01:54] AlOo2002 opened #439 "py to exe"
I want to change my py to exe but I'm facing this problem ... could [you](url) help me
![5](https://user-images.githubusercontent.com/45318547/189464493-50c8e7ff-fecc-4bb2-8dbc-ef8f48404b1b.png)

[2022-09-10 08:28] Beelzebub2 opened #440 "why is function called by OptionMenu starting on it's own without any input"
[code]

[2022-09-10 08:28] Beelzebub-uwu commented on #439
https://github.com/TomSchimansky/CustomTkinter/wiki/Packaging

[2022-09-10 16:12] Nat3930 opened #441 "Entry placeholder_text positioning"
Placeholder text is on the left side, but on middle row of entry box. How do I change its position to top-left?

`self.entry = customtkinter.CTkEntry(master=self.frame_info,
                                            placeholder_text="Input Your message here",
                                            width=120,
                                            height=200,)
        self.entry.grid(ro

[2022-09-11 04:07] Hirusha-Dulaj opened #443 "CustomeTkinter"
Hey I used CustomeTkinter to Make program today i convert it to exe it's successfully converted but i Open it Nothing happened ☹️WHT is the problem bro

[2022-09-11 08:56] Beelzebub-uwu commented on #440
The switch toggle is not doing anything aswell

[2022-09-11 11:18] Akascape commented on #443
@Hirusha-Dulaj Please give details, I hope you have followed this [guide](https://github.com/TomSchimansky/CustomTkinter/wiki/Packaging) to convert your exe.

Run your application through CMD and provide the error details here.

[2022-09-11 11:21] Hirusha-Dulaj commented on #443
Nothing show in cmd
I do it before 🤧

On Sun, 11 Sep 2022, 4:48 pm Akash Bora ***@***.*** wrote:

[2022-09-11 11:39] Akascape commented on #443
@Hirusha-Dulaj Are you using Auto-py-to-exe or direct Pyinstaller?
Give the details of your Pyinstaller code.

Try changing it to console based instead of window based.

[2022-09-11 11:46] Akascape commented on #439
Try adding the customtkinter folder manually. Use auto-py-to-exe which is an interface for Pyinstaller.
See this answer if you are creating a one-file exe with customtkinter. https://github.com/TomSchimansky/CustomTkinter/discussions/423#discussioncomment-3549223

[2022-09-11 12:13] Akascape commented on #434
@MrBananaPants
I have modified the button_pressed() function:

[code]

Hope this will work...

[2022-09-11 13:13] MrBananaPants commented on #434
@Akascape I just tried it and it still gives me the same `_tkinter.TclError: image "pyimage2" doesn't exist` error

[2022-09-11 13:16] Hirusha-Dulaj commented on #443
I use pyinstaller and auto py to exe

On Sun, 11 Sep 2022, 5:09 pm Akash Bora ***@***.*** wrote:

[2022-09-11 13:29] MrBananaPants commented on #434
Found the solution:
[code]

[2022-09-11 13:29] #434 closed

[2022-09-11 14:07] Akascape commented on #443
This should be the options:
![program.jpg](https://user-images.githubusercontent.com/89206401/189531877-6e407b4f-4be7-407c-8c1f-5592cf196cdd.jpg)

[2022-09-11 14:13] Hirusha-Dulaj commented on #443
Thanks, I'll Try it ♥

On Sun, 11 Sep 2022, 7:37 pm Akash Bora, ***@***.***> wrote:

[2022-09-12 01:16] Jdeadevil opened #446 "corner_radius only increases width within labels"
[code]

The corner radius doesn't change and if I increase it, it just increases the width of the button.

[2022-09-12 08:02] clawjelly opened #447 "AttributeError: partially initialized module 'customtkinter' has no attribute 'set_appearance_mode' (most likely due to a circular import)"
When i run the demo script,

[code]

i get this:

[code]

[2022-09-12 14:49] Akascape commented on #446
@Jdeadevil It's because you have used `bg_color="#484848"` which is the background color for the button, instead you have to use `fg_color="#484848"`

![Example](https://user-images.githubusercontent.com/89206401/189685084-f3bacda3-88c7-415c-93e5-916c61c2c1c0.png)

[2022-09-12 14:56] Akascape commented on #447
@clawjelly This is most likely because you have named your python(.py) file as `customtkinter.py` which is confusing itself from the customtkinter module.

[2022-09-12 15:20] Jdeadevil commented on #446
Oh that explains everything, thanks.

________________________________
From: Akash Bora ***@***.***>
Sent: 12 September 2022 14:49
To: TomSchimansky/CustomTkinter ***@***.***>
Cc: Jonathan Davey ***@***.***>; Mention ***@***.***>
Subject: Re: [TomSchimansky/CustomTkinter] corner_radius only increases width within labels (Issue #446)

@Jdeadevil<https://github.com/Jdeadevil> It's because you have u

[2022-09-12 18:17] Akascape commented on #446
@Jdeadevil Plz close the issue if it's answered

[2022-09-12 19:10] #446 closed

[2022-09-12 19:10] Jdeadevil commented on #446
Done, I appreciate the timely response. Love this module.

[2022-09-13 07:20] clawjelly commented on #447
Oh... lol... Alright, thanks, it works after renaming the file.

[2022-09-13 12:29] #447 closed

[2022-09-13 19:57] TomSchimansky commented on #438
The dropdown uses a tinter menu and the white border around the tkinter.Menu sadly can't be removed on Windows...

[2022-09-13 19:57] #438 closed

[2022-09-13 20:00] #418 closed

[2022-09-13 20:06] TomSchimansky commented on #375
@Aadhityaa04 you can not create multiple instances of CTk in the same process. Here is an example on how you would create a second window, which can only be opened once and which is written as a class:
[code]
If you follow this template there shouldn't be any `invalid command name` logs. Personally I never experienced them...

[2022-09-13 20:06] #375 closed

[2022-09-13 20:10] #367 closed

[2022-09-14 10:27] TomSchimansky commented on #417
Currently there is no CTk menu bar or CTk menu, but maybe I will add this in the future!

[2022-09-14 10:27] #417 closed

[2022-09-14 10:36] #443 closed

[2022-09-14 16:02] GGTEC commented on #253
hello,
In the ttk has the option to limit the height of combobox or optionmenu maybe you can see that using the ttk as an example.
thanks for the incredible work!

[2022-09-15 10:35] TomSchimansky commented on #256
Should work now...

[2022-09-15 10:35] #256 closed

[2022-09-15 14:04] TomSchimansky commented on #305
Should work now with version 4.5.11.

[2022-09-15 14:04] #305 closed

[2022-09-15 14:04] TomSchimansky commented on #277
Should work now with version 4.5.11.

[2022-09-15 14:04] #277 closed

[2022-09-15 14:06] #66 closed

[2022-09-15 16:05] TomSchimansky commented on #72
I think I will stick with the documentation in the Github wiki tab for now, but feel free to extend your documentation too...

[2022-09-15 16:05] #72 closed

[2022-09-15 16:06] TomSchimansky commented on #340
Changed the fonts directory on Linux now with version 4.5.11.

[2022-09-15 16:06] #340 closed

[2022-09-15 16:23] slavoev commented on #374
I am sorry bumping an old thread, but I hope someone can help me.
I have a similar issue where binding a label to a mouse button click just doesn't work. This is the code:

label_info_2 = customtkinter.CTkLabel(master=root, image=photo_4, text="email@random.com")
label_info_2.grid(row=2, column=2, sticky="ne", padx=5, pady=20, columnspan=2)
label_info_2.bind("<1>", copy_text)

def copy_text(event)

[2022-09-15 17:15] TAMILVIP007 opened #451 "Treeview"
is there class for treeview just like in tkinter?

[2022-09-15 19:01] felipetesc commented on #72
No problem, after some thoughs I realized doc system from rust seems more interesting than docsify, so I wold need to remake everything

[2022-09-16 10:34] TomSchimansky commented on #328
I can not reproduce this, therefore I will close this issue.

[2022-09-16 10:34] #328 closed

[2022-09-16 13:43] Beelzebub-uwu commented on #440
it still happens but i think it might be something with Toplevel window

[2022-09-16 14:41] GaryC1954 opened #454 "Customtkinter won't load"
Getting this error message when launching customtkinter with just the single button example:

File "C:\Users\garyc\PycharmProjects\Excel_Project\venv\customtkinter.py", line 2, in <module>
    import customtkinter
  File "C:\Users\garyc\PycharmProjects\Excel_Project\venv\customtkinter.py", line 5, in <module>
    customtkinter.set_default_color_theme("blue")  # Themes: blue (default), dark-blue, g

[2022-09-16 15:00] TomSchimansky commented on #440
What do you mean by "not working as intended"? Can you give me a code example?

[2022-09-16 15:06] TomSchimansky commented on #454
Do you named your file `customtkinter.py `? I don't think you can name your .py file the same as the library you want to import. Your then importing your own .py file with nothing in there...

[2022-09-16 15:26] Beelzebub-uwu commented on #440
This is the whole settings window
[code]

[2022-09-16 15:27] Beelzebub-uwu commented on #440
that self.switch.toggle doesn't do anything

[2022-09-16 15:31] GaryC1954 commented on #454
While I did have the .py file saved as customtkinter.py, I changed the file name to custom but still getting the same error message.

[2022-09-16 18:56] TomSchimansky commented on #440
toggle doesn't take any argument, it just changes the state. I you want to set a specific state use select() or deselect(). Also try using these functions after the place() method.

[2022-09-16 18:59] Beelzebub-uwu commented on #440
oh my bad then

[2022-09-16 19:59] Beelzebub-uwu commented on #440
but the function still starts when the CTkToplevel window is opened

[2022-09-16 22:58] TomSchimansky commented on #115
I added indeterminate mode with version 4.6.0. Check out the wiki for more information.

[2022-09-16 22:58] #115 closed

[2022-09-16 23:03] TomSchimansky commented on #62
Custom menu with toplevel is not possible for several reason and across platforms and tree view is too complicated so I will close this one.

[2022-09-16 23:03] #62 closed

[2022-09-16 23:43] TomSchimansky commented on #440
That's because select(), deselect() and toggle() all trigger the command function. But I will change it so that only toggle() triggers the command.

[2022-09-16 23:46] Beelzebub-uwu commented on #440
Im talking about the OptionMenu sorry for not being clear, but yes both the switch and the Option menu start they're "commands" when the CTkToplevel window is opened

[2022-09-17 08:36] programmingbuilder opened #457 "New Widget"
Create a tab and a panned window

[2022-09-17 11:51] TomSchimansky commented on #457
https://github.com/TomSchimansky/CustomTkinter/issues/33

[2022-09-17 11:51] #457 closed

[2022-09-17 15:43] MiKalem898 opened #458 "Get the value of a Textbox"
I have to get the value of a Textbox but, how ? "get" and "getvar" don't work...

[2022-09-17 19:02] Beelzebub-uwu commented on #458
can't you use CTkEntry?

[2022-09-17 19:58] MiKalem898 commented on #458
The texts to enter are long and must be indented. I can use Entry, yes, but its better with Textbox

[2022-09-18 06:52] programmingbuilder commented on #457
@TomSchimansky can you add a panned window
and a CTkText

[2022-09-18 12:36] Beelzebub-uwu opened #459 "CtkOptionMenu enhancement"
is it possible to make it so that when the button is clicked a second time it closes the list instead of showing it again?
![image](https://user-images.githubusercontent.com/65181309/190902375-09575239-d5f7-45cb-8891-12f16d9c91a6.png)

[2022-09-18 17:03] Beelzebub-uwu opened #462 "is there anyway to restart the gui trhough a button?"
there are some changes like the color theme that require a restart, is there any way to do it with a function linked to a button?

[2022-09-18 19:14] kdc1919 opened #463 "CTkEntry focus not working"
Good Day,

I was wondering if anyone else was having this same problem. I'm trying to focus set an entry box but it doesn't appear to work with CTkEntry boxes. Is anyone else having this same problem?

[code]

[2022-09-18 19:46] TomSchimansky commented on #463
It is just not implemented, when you call focus_set it is called on the frame the CTkEntry inherits from. But I will add this!

[2022-09-18 19:47] TomSchimansky commented on #458
https://github.com/TomSchimansky/CustomTkinter/issues/378

[2022-09-18 19:47] #458 closed

[2022-09-18 19:49] TomSchimansky commented on #462
No, currently this is not possible but I will try to implement this at some point in the future! https://github.com/TomSchimansky/CustomTkinter/issues/295

[2022-09-18 19:49] #462 closed

[2022-09-18 19:56] Beelzebub-uwu commented on #462
okay good to know :)

[2022-09-18 20:23] kdc1919 commented on #463
Good Day Tom,

Ahh I see. Thank you very much for the quick response. Do you know of any workaround I can use in the meantime?

Regards
Kevin.

[2022-09-19 11:10] ManHinnn0509 opened #464 "CTkComboBox background became white when state is "readonly""
Thank you for creating this lib.

The background color of CTkComboBox() became white when the state is setted to "readonly"
customtkinter version: 4.6.3

![img](https://i.imgur.com/1EqxoiS.png)

[2022-09-19 18:45] ManHinnn0509 commented on #464
I found a solution to this issue, there's a `readonlybackground` parameter in `tk.Entry()` and you can use `configure()` to change to color of the entry.

Example code:
[code]

Solution from: https://stackoverflow.com/questions/28973756/tk-entry-background-color-change-in-readonly-mode

[2022-09-20 19:11] MiKalem898 opened #467 "Get Textbox's value"
I have to get the value of a textbox but .get() doesnt work ? Why ?

[2022-09-20 19:48] #467 closed

[2022-09-20 23:59] legopitstop opened #468 "CTkOptionMenu variable_callback issue"
When the option menu is deleted and then recreated using the same variable it throws an error.

customtkinter: `4.6.3`
IOS: `Windows 10`

**Steps To Reproduce**
1. Run the below code in a python file.
2. Click on the dropdown menu and select an option.
3. Console throws the error

**Observed Results**
- Defining the variable inside the load function fixes the issue.
- The issue only occurs when th

[2022-09-21 00:47] legopitstop opened #469 "CTkToplevel not displaying"
CTkToplevel is not displaying when the resizeable method is used.

customtkinter: `4.6.3`
IOS: `Windows 10`

**Steps To Reproduce**
1. Run the below code in a python file.
2. Click the button in the main window
3. Nothing happens
4. Remove the `resizable` method in the toplevel function.
5. The toplevel window properly  displays

**Observed Results**
- Console does not return any errors.
- Changin

[2022-09-21 19:55] pourhakimi commented on #469
I ran the code you posted, it works fine (macOS).
Maybe try it this way, using a class with ck.CTk inheritance:
[code]

[2022-09-21 20:10] pourhakimi commented on #441
Dunno if you can change the placeholder text from the position within the entry box.
Question is semi clear, but I think what you're looking for is this type of UI:
[code]
There's a YouTube channel that uses a lot of this customtkinter library with various UI designs:

[code]

[2022-09-21 20:29] legopitstop commented on #469
The ck.CTk inheritance still didnt work. Must be a windows 10 issue.

[2022-09-22 07:22] EgyptianM opened #473 "unknown option "-indicatoron" for CTkRadioButton"
I'm trying to use `indicatoron` arg for RadioButton but I get this error :
[code]

This is my code:
[code]
python version 3.10.7
windows 10

[2022-09-22 11:03] TomSchimansky commented on #473
This option does not exists for CTkRadioButton. What do you want to accomplish with this option? Can you use something else?

[2022-09-22 11:05] TomSchimansky commented on #469
Its only a Windows 10 issue, I fixed it, and it will build a new release version soon.

[2022-09-22 18:38] EgyptianM commented on #473
Nothing specific I was just learning the library
Does slider have the option showvalue?
Is slider the replacement for Scale in python?

[2022-09-22 18:51] SrikarGathey1 opened #474 "CTKScrollBar Does Not Allow Scrolling"
I am unable to scroll down using a CTKScrollBar. I could do the same easily using a TTK ScrollBar but it does not look good on the screen. Please try to resolve this if you can or let me know if there is a fix to this. Thank you.

[2022-09-23 00:50] nialljg275 opened #475 "Progress bar orientation not working"
When ever I try to change the orientation of progress or slider bar to vertical it presents an error claiming orientation isn't an argument. Am I just being dumb I'm super new to python.

UI.WaterLevel = customtkinter.CTkProgressBar(master = UI.currentvals_frame, height = 300, width = 70, progress_color = '#2bcfe9', corner_radius = 5, orientation = "vertical")

[2022-09-23 00:55] #475 closed

[2022-09-23 00:56] nialljg275 commented on #475
fixed - orient = "vertical" lol

[2022-09-23 07:57] TomSchimansky commented on #474
Please show me a minimal example of the scrollbar not working, for me the scrollbar is working.

[2022-09-23 18:14] miquelgs99 opened #477 "Binding mouse button to a label"
Hello, Custom Tkinter is a brilliant library, but I have an issue with binding the left button of the mouse to a label. I want that when you click in a piece of text, a function executes, but it's not working. It worked with normal Tkinter.

Here's an example:

        self.right_label = ctk.CTkLabel(top_text_frame, text='Sudoku', text_font=('Segoe UI', 15))
        self.right_label.grid(column=2,

[2022-09-24 09:24] avalon60 opened #480 "Button Binding Does Not Work"
I cannot get button binding to work. I have the following 2 examples. One is using tkinter, the other uses customtkinter. The only difference is in the button widget:

tkinter:
[code]
and with customtkinter:

[code]
When these are both executed, the left click works for both (I am on Linux). However the right click (Button-3) only works in the tkinter example.

[2022-09-25 15:21] miquelgs99 commented on #477
Thank you!!!!

[2022-09-26 11:24] TomSchimansky opened #481 "What's next? Roadmap for this project."
#### Next widgets I will be working on:

1. CTkTextbox will be finished.
2. CTkScrollableTextbox will be added by using CTkScrollbar combined with CTkTextbox.
3. I will create a CTkTabview
4. I will try to create a CTkScreenManageer like the Kivy ScreenManager to sip between multiple screens in the same window.
5. Create a CTkLinePlot and CTkLiveLinePlot with spline interpolation and color theme s

[2022-09-26 18:17] limpredator opened #482 "how to place video in frame"
so far have edited the modern gui and there is a frame in the middle, is there a way to add a video into it ?

![16642162084977293735421302766383](https://user-images.githubusercontent.com/114434805/192350699-1f16e579-ce18-47db-8d1f-ba12a0c11653.jpg)

[2022-09-26 18:57] TomSchimansky commented on #482
Maybe look here: https://stackoverflow.com/questions/7227162/way-to-play-video-files-in-tkinter
CustomTkinter has no widgets for playing videos...

[2022-09-26 18:57] #482 closed

[2022-09-27 09:53] a95444 opened #483 "Window scalling"
When I use my application in a monitor bigger than the one my laptop has, the widgets size just goes nuts. Is there any way I can "fixate" the size of the entire window/widgets?
Thanks for your time.

![biggermonitor](https://user-images.githubusercontent.com/92484922/192495141-a2675d22-7a87-4787-8c0a-810d8ac03124.png)
![mylaptop](https://user-images.githubusercontent.com/92484922/192495144-e9dadd

[2022-09-27 09:54] a95444 commented on #483
# the listbox is a "normal tkinter" widget, I dont think customtkinter library has a listbox option yet.

[2022-09-27 10:23] TomSchimansky commented on #483
Can you give me some information about your monitor setup?
What resolution has the external monitor? And what are the scaling settings (100%, 150%, 200%) for the internal and external monitor in the Windows display settings?
The first image is on the external monitor?

[2022-09-27 10:27] a95444 commented on #483
Yes of course!
1st image - external monitor /  100% ; 1920 x 1080
2nd image - laptop monitor  /   200%;  3000 x 2000

Thanks for the help! If you require some more info, I'll be glad to give it.

[2022-09-27 11:31] TomSchimansky commented on #483
There are a few different things going on which make it look ugly:

1. The window header size remains like it was, when it got created. So when the window gets created on a 200% scaled monitor, the window header looks twice as big on a 100% monitor like the normal window headers. But there is nothing I can do about this I think, I don't know why this happens with tkinter windows.

2. Normal tkinte

[2022-09-27 11:37] a95444 commented on #483
I didn't give a font size to the buttons text. I have configure them like this:
![image](https://user-images.githubusercontent.com/92484922/192515065-a0d8a3a8-3602-4429-a4b4-d7f131123016.png)

[2022-09-27 18:19] TomSchimansky commented on #483
And how do you defined the buttons with AT SS FTC and DS contributive? Or are these labels?

[2022-09-27 18:30] a95444 commented on #483
They are buttons aswell.
![image](https://user-images.githubusercontent.com/92484922/192607551-ac6d1aa5-6608-41f5-9bc0-b51dc6a44771.png)

[2022-09-27 19:25] robbyz512 opened #484 "Does CustomTkinter have a Notebook?"
Notebook is a tab feature in ttk but I can't seem to find in customTkinter.

Currently importing notebook into a ctkframe but it does not look good without ctk theme, is there a better way?

[code]

![12121](https://user-images.githubusercontent.com/48497779/192617373-93d495ac-65ad-4592-98c2-995179d5e5c2.png)

[2022-09-27 21:10] EgyptianM opened #485 "Does it have a ListBox?"
Is there a ListBox widget in this library?

[2022-09-27 21:47] TomSchimansky commented on #485
Not yet, only the ones in the wiki.

[2022-09-27 21:47] #485 closed

[2022-09-27 21:51] TomSchimansky commented on #484
There is no Notebook or tabview yet, but you could use buttons like in the following example:
[code]

<img width="712" alt="Bildschirmfoto 2022-09-27 um 23 50 55" src="https://user-images.githubusercontent.com/66446067/192642298-67b37a00-edf8-42bc-8564-a25b4ff1ce0a.png">

[2022-09-27 21:51] #484 closed

[2022-09-28 11:39] JacobusJacobs opened #486 "invalid command name"
I constantly get invalid command name comments while running a GUI.

When I run my GUI and press a button:

invalid command name "2753417316928update"
    while executing
"2753417316928update"
    ("after" script)
invalid command name "2753417325952click_animation"
    while executing
"2753417325952click_animation"
    ("after" script)
invalid command name "2753435235840check_dpi_scaling"
    whil

[2022-09-28 11:42] #486 closed

[2022-09-28 18:55] Jdeadevil opened #487 "Can't seem to change button widths"
https://pastebin.com/nzAG4YYT

So, I've got everything I want placed onto the window, but I can't seem to get 'width' to work on Line 51 and Line 58. I'm trying to shrink them so they look uniform and neat. Am I doing something wrong here?

[2022-09-29 11:11] pourhakimi commented on #487
I looked over the code you posted. First thing is maybe to consider using .pack() or .grid() managers for your layout, it just makes things a little more responsive and it makes placement of widgets easier. So I reworked the code you had and instead of .place() I used .pack( ):

[code]
As for the button resizing option, the default is set to 140px I think and it doesn't seem to go below that numbe

[2022-09-30 06:10] runbojungle opened #491 "About creating listboxes in CustomTkinter"
I am using tkinter to create multiple tools while employing tkinter listbox quite a lot! Just curious about if there's a way to create listboxes with CustomTkinter? If not, will listbox being considered as a feature in the future? Thank you so much for all the hard work on this project! The design is really pretty and amazing.

[2022-09-30 10:08] Akascape opened #493 "CTKToplevel: resizable parameter not working!"
@TomSchimansky
I want to make a fixed size CTKToplevel without any resizable parameter, so I used `Toplevel.resizable(width=False, height=False)` method.
But this is not working after the **new update**.
**Now the CTKToplevel is not even opening if we use this method.**

I don't want to use the `Toplevel.maxsize(width, height)` method as there is still a resizable button present.

It **used to** l

[2022-09-30 11:34] TomSchimansky commented on #493
Already fixed, just need to upload a new version https://github.com/TomSchimansky/CustomTkinter/issues/469

[2022-09-30 11:34] #493 closed

[2022-09-30 17:04] famko09 opened #494 "_tkinter.TclError: bad screen distance "180.0""
Hi , when I add this line " from ttkbootstrap.constants import *" into CustomTkinterLibrary.py I 'll get this error:

Would like some help to solve this..
Thank you

Traceback (most recent call last):
  File "d:\pcloud\python\tkinter\CustomTkinterLibrary6.py", line 211, in <module>
    app = App()
  File "d:\pcloud\python\tkinter\CustomTkinterLibrary6.py", line 35, in __init__
    self.frame_left

[2022-09-30 17:47] brianrho opened #495 "Auto-complete for Combobox"
This is excellent stuff here.
I just have one question -- is there any (current or planned) support for auto-complete with Combobox-es, for instance?

Tkinter doesn't support this natively, I think, but it's a common feature of dropdowns in modern apps.

[2022-10-01 08:03] sarang-lvs opened #496 "CTkLabel.configure method shows unknown option "-text""
Created CTkLabel object in following way:

counterBox = ck.CTkLabel(window, height=40, width=120, text_font=("Arial", 20), text_color="white", fg_color="blue")

Can't update the text via .configure method like this:
counterBox.configure(text='0')

It gives following error:
_tkinter.TclError: unknown option "-text"

I am a new programmer, so please forgive if this is an oversight. I have tried keep

[2022-10-01 13:35] emilkevinmanuel opened #497 "entry.delete(0,tkinter.END) breaks the entry"
The placeholdertext reappears but the user is able to edit it and entry.get() returns ""

[2022-10-02 05:50] Akascape commented on #496
@sarang-lvs
You have to use a StringVar if you want to change the text of the label.

[code]

You have to use it like this:
[code]
I know it's different from tkinter but this is how it works in customtkinter.

[2022-10-02 10:46] avalon60 opened #498 "Adding a border to a button results in a clipped widget shape"
Adding a border to a CTkButton widget, results in the button shape being compromised. No border is evident, just a change in the button shape. This can be demonstrated, by taking the `simple_example.py` and changing the code, thus:

[code]
The result looks like this:

![image](https://user-images.githubusercontent.com/89534395/193450162-0237573e-d846-40da-b1f3-6336afa2083a.png)

[2022-10-02 12:48] TomSchimansky commented on #498
You forgot the underscore inn the attribute name and wrote `borderwidth` instead of `border_width`. But that's a weak spot you found there. Because with the `borderwidth` attribute you configure the border with of the underlaying tkinter frame, which results in this strange behaviour. I will try to prevent this possibility.

[2022-10-02 12:48] #498 closed

[2022-10-02 13:56] avalon60 commented on #498
Thanks Tom.

[2022-10-02 14:44] avalon60 opened #499 "Setting border_width specifcation on CTkOptmenu errors (_tkinter.TclError: unknown option "-border_width")"
Adding a border to a CTkOptmenu widget, results in an error. This can be demonstrated, by taking the simple_example.py and changing the code, thus:

`optionmenu_1 = customtkinter.CTkOptionMenu(frame_1, border_width=1, values=["Option 1", "Option 2", "Option 42 long long long..."])`

Error stack:

[code]

[2022-10-02 15:40] zSynctic opened #501 "Create Spinbox in CustomTkinter?"
ctk.spinbox isn't there. Is there another way of doing it or will it be in a future update?

[2022-10-02 15:42] TomSchimansky commented on #499
Thats a mistake in the documentation, the optionmenu has no attribute border_width. I decided not to have it, because with a border, the optionemnu would look the same as a combobox and you couldn't distinguish between them...

[2022-10-02 16:03] avalon60 commented on #499
Ah... OK Tom - thanks. I also notice that the CTk() widget fails with "bg_color=" but that "bg=" works fine. Is this a docs issue?

[2022-10-02 16:12] Corporation001 commented on #469
Sorry,I'm on Windows 11,but the problem still exist even though the customtkinter version have up to date...

[2022-10-02 16:33] TomSchimansky commented on #501
You could build it yourself like the following:

[code]
Of course you could also add configure method or more attributes to configure the colors.
But that's how you can easily build new widgets by yourself. Create a class that inherits from CTkFrame and add other widgets on it...

[2022-10-02 16:55] TomSchimansky commented on #469
Its a problem for all Windows versions, and I didn't upload a new version yet, but I will do it maybe tomorrow when some other changes are also ready.

[2022-10-02 16:58] TomSchimansky commented on #496
[code]
This should work with the new version 4.6.3 I think.

[2022-10-02 20:46] Corporation001 commented on #469
Thank you!

[2022-10-02 22:25] #501 closed

[2022-10-03 13:19] programmingbuilder opened #502 "can you create a widget by which i can open websites in a customtkinter window"
can you create a widget by which i can open websites in a customtkinter window

[2022-10-03 16:17] TomSchimansky commented on #502
That's extremely complicated, but I think it's already done. Have a look at cefpython.

[2022-10-03 16:17] #502 closed

[2022-10-04 01:19] felipetesc commented on #502
You can use webview for that: pywebview:
- https://www.geeksforgeeks.org/how-to-open-a-website-in-a-tkinter-window/
- https://stackoverflow.com/questions/14706069/python-tkinter-with-a-simple-web-wrapper
if you want to open a link though https://docs.python.org/3/library/webbrowser.html
Have a good one

[2022-10-05 10:36] TomSchimansky commented on #494
I don't know what ttkbootstrap does, why would you import it?

[2022-10-05 11:25] famko09 commented on #494
It's a set of circular progressbars......

[2022-10-06 06:13] famko09 commented on #494
don't wast any time, found a working alternative: https://pypi.org/project/AwesomeTkinter/

[2022-10-07 14:31] TomSchimansky commented on #477
It will work in the next version 5.0.0, which will be released soon.

[2022-10-07 14:33] TomSchimansky commented on #480
Binding will work in the next version 5.0.0, which will be released soon.

[2022-10-07 14:57] TomSchimansky commented on #459
I think there is no way of closing the menu when its open, because there is no way of telling if a tkinter.Menu is still open or already closed. But let me know if you know of a way doing it...

[2022-10-07 14:57] #459 closed

[2022-10-07 14:58] TomSchimansky commented on #374
The bind method will be implemented for all CTk widgets in the next major version 5.0.0, which will be released soon.

[2022-10-07 14:59] TomSchimansky commented on #380
The bind method will be implemented for all CTk widgets in the next major version 5.0.0, which will be released soon.

[2022-10-08 03:26] lfgogogo opened #505 "A beginer has a problem"
Hi,i am using CustomTkinter to design a UI,and want to use a CTkSwitch to control a CTkButton and CTkEntry,if the switch is on ,button and entry get tkinter.NORMAL state,otherwise disabled,i don't know whether this is supported or not.I find when the switch is on,the button is still 'disabled' but can be clicked,the entry is still disabled.Here is my code:
[code]

[2022-10-08 09:01] Akascape commented on #505
@lfgogogo You have to use `widget.configure(state=tkinter.DISABLED)` to disable any widget and `widget.configure(state=tkinter.NORMAL)` to enable it.

Here should be the modification:
[code]

[2022-10-08 09:25] Jeymen opened #506 "Font issue."
I tried setting the font, but it gives me a` TypeError: tkinter.Label() got multiple values for keyword argument 'font'` error. I debugged the file, and it seems to stay at the default font(Roberto)
![Screenshot 2022-10-08 122058](https://user-images.githubusercontent.com/109573368/194700390-fc2ccf35-79f8-4908-90d9-e502b8d99ffb.png)
![Screenshot 2022-10-08 122525](https://user-images.githubusercon

[2022-10-08 10:03] TomSchimansky commented on #506
The argument is called `text_font` at the moment. This will change in version 5.0.0, but for now you have to use text_font.

[2022-10-08 10:03] #506 closed

[2022-10-08 10:13] Jeymen commented on #506
Alright, thanks.

[2022-10-08 10:59] Bradly7412 opened #507 "Unsure of how to display a html page i.e https://google.com in a frame."
Making a basic web browser in customtkinter, I have gotten the buttons to work same with the search entry. but not able to display a webpage without downloading the whole html page in another frame. `frame_1 = button and search entry` `frame_2 = webpage`. Any help would be amazing.

[2022-10-08 11:42] TomSchimansky commented on #507
You cannot simply render a webpage in a CTkFrame, Customtkinter or Tkinter have no widgets to render webpages. But there are external libraries for Tkinter which you can probably use like cefpython, but I never tried to use them.

[2022-10-08 11:42] #507 closed

[2022-10-08 13:30] Anirudh-1213 opened #509 "Treeview widget"
Please Add Support For ttk Treewiew

[2022-10-08 13:32] #509 closed

[2022-10-08 16:39] devcameronj commented on #8
![image](https://user-images.githubusercontent.com/19158864/194717812-8facaa6d-b558-450e-afac-702ca771d9e4.png)

![image](https://user-images.githubusercontent.com/19158864/194718004-84d84a0b-03f2-44d4-9a0c-86433dd4f2f1.png)

Is it possible to add more functionality to the CTkTextBox such as a delete method? I have an app that's supposed to overwrite (not append) the textbox on each call, so I hav

[2022-10-08 22:59] TomSchimansky commented on #8
Textbox will be finished in the next days with version 5.0.0.

[2022-10-09 22:25] EissaMD commented on #497
Here's a quick solution..

[code]

[2022-10-10 18:33] Jeymen opened #511 "A begginer has a question."
Hello! So I have a text label. When it succeeds I would like it to say "Generated", but when it doesn't aka in the else condition - "Error" The problem is that if, a user does not do it right, then does it right, and then does not do it right, a small part of "generated"
 will still show.
 Is there anything I can do, so it removes the text the "ghost" text behind the "error" text. **Video showing

[2022-10-11 06:01] Akascape commented on #511
@Jeymen This is happening because you have defined `text_5` widget two times.

You have to define the variable only once and update its text parameter like this:

`text_5.configure(text="Generated")`

[2022-10-11 06:57] Jeymen commented on #511
@Akascape  I see. I will do that. Thank you for the time you took to help me ❤️

[2022-10-11 09:18] thomasrgrant commented on #82
[image: image.png]
I go NEON
Thank you.

On Sun, May 15, 2022 at 6:40 PM TomSchimansky ***@***.***>
wrote:

[2022-10-11 13:49] HlDANN opened #512 "sticky don't work in Label.grid"
Im try do this:

`labelNome = customtkinter.CTkLabel(frame, text="Nome", text_font=("Arial", "12"))
        labelNome.grid(row=1, column=0, padx=20, pady=10, sticky='w')`

![image](https://user-images.githubusercontent.com/44882409/195108492-6f52cab9-96cb-4593-a42d-84bd0b0433d0.png)

The sticky parameter does not work. Test using the default Label and everything is ok

`labelNome = Label(frame, te

[2022-10-11 14:33] EN20M opened #513 "Dynamically resize window to its content"
I have made collapsable frames in like this:
[code]
and I want the window to resize itself when I uncollaps a frame and it would not completly fit the current window size.

Is there any way I can get this to work. I tried calling `geometry()` on the topleven but it does not seam to care if the children widgets get cliped.

Actually I would like a scrollabe frame, this would render the need for aut

[2022-10-11 15:50] Free-Radical commented on #224
Was trying to figure out same as above, great job, Thanks, just started using your module and loving it!

[2022-10-11 16:38] HlDANN commented on #512
In my case it never worked :/
If anyone has a workaround I'd appreciate it, I don't like the pack method

[2022-10-11 17:49] Jeymen commented on #511
@Akascape Just did that, and I am getting the following error:
[code]

[2022-10-11 17:55] Jeymen commented on #511
@Akascape Still the same issue
[code]

[2022-10-11 17:59] Jeymen commented on #511
I believe this happens, because the "generated" text still stays there, but part of it is hidden by the "error" text. The problem is that, I don't know how to fix it.

[2022-10-11 18:31] Jeymen commented on #511
@Akascape What should I set it to?

[2022-10-11 18:32] Akascape commented on #511
@Jeymen maybe `width=250`

[2022-10-11 18:34] Jeymen commented on #511
@Akascape Wow, that seemed to fix it! Thank you so much.

[2022-10-11 18:34] #511 closed

[2022-10-11 18:45] Akascape commented on #512
@HlDANN I think you have to use the 'anchor' parameter in that case.

` labelNome = customtkinter.CTkLabel(frame, text="Nome", text_font=("Arial", "12"), **anchor='w')** `

[2022-10-11 19:31] Free-Radical opened #514 "Retreiving .cget("fg_color") for customtkinter.CTkEntry ERROR: unknown option "-fg_color""
Entry widget created -
`p_thr_entry = customtkinter.CTkEntry(master=prefs_window, width=40, placeholder_text=str(P_THR.get()))`

Attempting to save Widget's initial fg_value-
    `tmp = p_thr_entry.cget("fg_color")`

ERROR-
main.py", line 349, in update_p_thr
    tmp = p_thr_entry.cget("fg_color")

File "/opt/conda/lib/python3.10/tkinter/__init__.py", line 1681, in cget
    return self.tk.call(sel

[2022-10-11 19:55] HlDANN commented on #512
Hi @Akascape. Thanks for your contribution. Using anchor worked great!

I already knew this option, I hadn't tried it because some other widgets don't accept it ¯\_(ツ)_/¯

[2022-10-11 19:55] #512 closed

[2022-10-12 05:20] EN20M commented on #513
you mean fist full screen it and than use `geometry()`

[2022-10-12 13:04] 32-git opened #515 "Is there a way to add a scrollbar within a CTKComboBox?"
As stated above, ideally I would like to have a scrollbar within my ComboBox instead of having it become longer and longer every time I add an option.

Is there a way to do this?

[2022-10-12 15:24] kdc1919 commented on #380
Looking forward to it. Thank you very much for sharing your work.

[2022-10-12 16:10] Akascape commented on #515
@32-git I think the dropdown menu has some limitations. It is working on tkinter's menu widget and all the parameters for it are these:

`['activebackground', 'activeborderwidth', 'activeforeground', 'background', 'bd', 'bg', 'borderwidth', 'cursor', 'disabledforeground', 'fg', 'font', 'foreground', 'postcommand', 'relief', 'selectcolor', 'takefocus', 'tearoff', 'tearoffcommand', 'title', 'type']`

[2022-10-12 22:36] felipetesc commented on #513
No. The sample is merely an example

[2022-10-12 22:39] felipetesc commented on #513
I believe the key element here is to bind the window to some event. If I click somewhere, it triggers a window event to expand, or to shrink the top level size.

[2022-10-13 03:57] kdc1919 opened #516 "Buttons and File menu buttons don't launch TopLevel windows unless double-clicked"
Good Day,

Yesterday I decided to upgrade to 4.6.3. Since then I've realized TopLevel windows by button click or file menu selection aren't working as they did before. In the older version I only had to click once to launch a TopLevel window. Now some windows aren't coming up with a single click. You have to double click.

To launch TopLevel windows from the file menu, you click once on the menu i

[2022-10-13 05:10] EN20M commented on #513
I know this and I already have bound the attemt to resize to the button button that changes the layout.
From the begining on the problem was never to trigger the event but rather that the event is not doing anything to the window size. The fist picture showes the collapsed frame with everything else in bounds:

![collapsed](https://user-images.githubusercontent.com/53704888/195506453-876a418b-fc76

[2022-10-13 06:02] Akascape commented on #516
This was a bug, but it is already fixed.
It will be provided with the next version. https://github.com/TomSchimansky/CustomTkinter/issues/469

[2022-10-13 06:09] EN20M commented on #513
I am looking for a way to resize without the need to specify dimensions. I basically want the window as small as possilbe with everything thats on the grid to be in frame.

[2022-10-13 10:19] TomSchimansky commented on #515
Yeah, tkinter has no scrollable dropdown menu so I can't do anything there. There is one with the ttk combobox I think, but you can't use it separated from the combobox.

[2022-10-13 10:19] #515 closed

[2022-10-13 11:12] TomSchimansky commented on #513
First of all `.geometry()` called without arguments does nothing but returns the current geometry string of the window.

I came up with a possible solution, but this works currently only with a scaling of 1, because the methods `winfo_width()` and `winfo_reqheight` are not implemented with scaling at the moment for all CTk widgets. But I will do this in the next time.

First of all I added a `comm

[2022-10-13 11:24] TomSchimansky commented on #514
The `cget()` method will be implemented in the next version 5.0.0. Currently there is no way of getting the internal values of the attributes. You can use the `fg_color` attribute, but these names will not stay the same. In version 5.0.0 I renamed all internal class attributes to be protected variables by adding a leading underscore. This indicates that you they should not be used outside of the c

[2022-10-13 11:24] #514 closed

[2022-10-13 11:24] #499 closed

[2022-10-13 11:25] #496 closed

[2022-10-13 18:05] BootsManOut opened #517 "Pyinstaller Export Not working -wiki tutorial not working either."
Hello,

I cannot follow the [wiki tutorial](https://github.com/TomSchimansky/CustomTkinter/wiki/Packaging#windows-pyinstaller-auto-py-to-exe) for creating the exe file with pyinstaller.
I try to do it via the console directly.

Already when I run
`pip show customtkinter
`
in the console, I get the message: **_"WARNING: Package(s) not found: customtkinter"_**

And using the suggested commands with

[2022-10-13 18:10] Jeymen opened #518 "Question #3"
Hello. Is there any way to make text clickable? When I say clickable, I don't mean hyperlink. For example, I wanna change text_2 from "Hello" to "Hello Word" when somebody clicks text_1. Is that possible?

[2022-10-13 18:15] Akascape commented on #518
@Jeymen You can use a button with `fg_color=None, hover_color=None, bg_color=None`.
This will look exactly like a label. Then you can use command to change it.

[2022-10-13 18:18] Jeymen commented on #518
Thanks!

[2022-10-13 18:18] #518 closed

[2022-10-13 18:25] Akascape commented on #517
@BootsManOut Customtkinter is not packaged automatically because it contains some non-python files. So that's why we have to add its folder in `add-data`.

You may be facing other import errors because of different python versions installed.

I will recommend you to use `Auto-py-to-exe` which is an easy interface for Pyinstaller. Try to package with that.

[2022-10-13 18:36] Akascape commented on #517
@BootsManOut I think you have more than one python version installed.
So you have a different version X installed in your environment. (Where Pyinstaller is installed)

But you have installed customtkinter in a different version Y.

You may be trying to get the module from version X where it is not installed.

[2022-10-13 18:41] BootsManOut commented on #517
@Akascape
You said that customtkinter is not in the same folder as pyinstaller.
Do you mean it's not in the same folder as PIP?

How is the fact that customtkinter is not in the same folder as pyinstaller related to the fact that I cannot run the command
'pip show customtkinter'?

[2022-10-13 18:42] Akascape commented on #517
@BootsManOut If you are unable to find the customtkinter installed path then download the repository zip and extract it. Then you will get the customtkinter folder inside it, just copy its path and use it in `-add data`

[2022-10-13 18:43] BootsManOut commented on #517
Is this the correct format for it?:

[2022-10-13 18:43] #517 closed

[2022-10-13 18:45] Akascape commented on #517
@BootsManOut What I mean to say is that if Pyinstaller is installed in version X, it will collect modules from only version X.

You have customtkinter in version Y, so it will not be able to import it from Y.

[2022-10-13 18:48] Akascape commented on #517
@BootsManOut I guess third one seems right, but you can get the proper path by clicking the folder properties. Copy that only.

[2022-10-13 18:50] BootsManOut commented on #517
Well I was able to export the app together with CTkinter the way I usually export apps, but when I run the app it gives me an error file that it could not find the json files that are used to set the color theme in CTkinter. And that error is called from within the CTkinter script, which means it has succesfully been included by pyinstaller into the exe file.
So it's not a version problem.

[2022-10-13 18:51] Akascape commented on #517
@BootsManOut Otherwise use Auto-py-to-exe, you can easily browse and choose the folders/files. Highly recommended.

[2022-10-13 19:05] TomSchimansky commented on #517
If you do `python -m pip` you get the correct pip version corresponding to the python version you use.
And to chose a specific python version on Windows in the command line you can use the command `py -<version>`.
So if you use python 3.10 to run your programs you install customtkinter with:
[code]
And run your program with:
[code]
And then this should also work:
[code]

[2022-10-13 19:11] TomSchimansky commented on #517
You would install pyinstaller like:
[code]
And use it like this:
[code]
(note the camel case spelling, for whatever reason)

[2022-10-13 19:22] TomSchimansky commented on #516
I don't really know what your are doing when you launch the toplevel window, so I can't say why this is not working as intended. But one possibility could be the bug mentioned in #469

[2022-10-13 21:32] kdc1919 commented on #516
Good Day,

I'm looking at the code for #469 and I believe it's a similar problem I have. For example here is some code from my project...
`file_menu.add_command(label="Find Item", command=self.launch_inventory_items_form)`

def launch_inventory_items(self)

[2022-10-13 21:32] #516 closed

[2022-10-13 22:14] BootsManOut commented on #517
Yes, that's what I needed thanks @TomSchimansky . I got the correct path this way. Installing auto py installer besides not solving the issue, would have just taken away my time.

Now after the json files are included in the exe file, I get another issue with the setuptool module that's used with Ctkinter:

[code]

Possibly related to [this topic](https://github.com/pypa/setuptools/issues/2353).
H

[2022-10-14 08:52] TomSchimansky commented on #517
Maybe you just need pip install pyinstaller?

[2022-10-14 12:35] EN20M commented on #513
Thank you very mutch for taking the time to look into it.

I think at some point there won't be mutch change in my layout anymore and I'll adjust the hight neede paddings once and than it should be fine, so not mutch of a downside in my mind.

Isn't there a way to dynamically get the padding values. Because then, one could iterate through the list of chidren of the collapsed frames parent and add

[2022-10-14 13:22] BootsManOut commented on #517
It works now!
So since I had Python 3.9 installed, first I completely re-installed Python as version 3.10.8, and then I updated all the modules of my project, and also updated pip, and then I also ran all the commands you suggested to update pyinstaller etc. And now it works!
Btw. I used this command:
`pyinstaller --noconfirm --onefile --windowed --add-data "C:\Users\USERNAME\AppData\Local\Program

[2022-10-15 01:09] HlDANN opened #519 "Different font on windows 11"
I was working on my work project normally when I decided to clone at home to work.
After that I noticed that some labels were different. With the font half off.
On the company pc I use windows 10, at home I use windows 11. I investigated further and realized that a label I created in standard Tkinter was normal and the labels made by customtkinter were strange. I tried to change the font a few tim

[2022-10-15 01:51] fathimaNasmin commented on #395
How to get CTkLabel text?
.cget("text") is not working for CTkLabel

[2022-10-15 05:43] Akascape commented on #519
@HlDANN I think it's a text color issue, try `text_color="black"` in the CTkLabel.

[2022-10-15 11:01] TomSchimansky opened #520 "Window changes size with multiple monitors and scalings on Windows"
Window changes size when dragged from over to monitor with different scaling one Windows 11, maybe also Windows 10. This only happens when window is hold  by the mouse for a second after moving to the other monitor, and is then released by the mouse.

[2022-10-15 11:31] Akascape commented on #520
Try this:

Add these lines in your program.
[code]
Let me know if it's working.

[2022-10-15 12:59] TomSchimansky commented on #520
I already set the dpi awareness in the scaling tracker class, you can have a look if you are interested. These are the methods that manage the scaling:
[code]
[code]
[code]

The set scaling method of the CTk window class looks like the following:
[code]

Its very difficult to spot any errors in this process I implemented, but maybe this is also just a tk bug, I don't know...

[2022-10-15 13:00] TomSchimansky commented on #520
I will work on this later if I have the time

[2022-10-17 08:52] GermanYoshi opened #521 "Insert into Label missing (cget not working)"
I cant seem to find a way to insert sth. into a label.
Like the .insert from tkinter where you can add text to your existing one.

[code]

i tryed it with the mentioned cget but this throws a error
![grafik](https://user-images.githubusercontent.com/39739909/196133632-f80d51e2-7f39-414a-94ac-14ff5f6f3fb8.png)

[2022-10-17 11:30] Akascape commented on #521
@GermanYoshi The `cget` method is not implemented. It will be available soon.
Try using the normal method : https://github.com/TomSchimansky/CustomTkinter/issues/27

Or this may work:
`log = self.label_info_1.text`

[2022-10-17 12:10] Nielzaclord opened #522 "from __future__ import annotations"
File "C:\Users\Elève\AppData\Local\Programs\Python\Python36\lib\site-packages\customtkinter\draw_engine.py", line 1
    from __future__ import annotations
    ^
SyntaxError: future feature annotations is not defined

I can't executhe with this error.

[2022-10-17 14:26] Akascape commented on #522
@Nielzaclord Please upgrade your [python](https://www.python.org/downloads/) to the latest version.
Then also make sure that you are using the latest version of customtkinter.

[2022-10-17 16:29] iTerminatorX commented on #512
@HlDANN I tried anchor and it didn't work either :/

[2022-10-17 16:40] Akascape commented on #512
@iTerminatorX I think you have problems in your layout system (grid or place).

I have two same labels here (one with anchor) and it's working properly:
[code]
![Screenshot](https://user-images.githubusercontent.com/89206401/196234326-a975a614-ae78-4786-a9ec-3dd241948f7d.jpg)

[2022-10-18 11:38] EN20M opened #528 "Syling enhancement request"
Could you add passing of the `anchor` argument into the CTkOptionMenu() and CTkComboBox() or any text containing widget so one can chose the justification

[2022-10-18 14:54] Akascape commented on #528
@EN20M Ig only CTkLabel has the anchor parameter.

[code]
![Screenshot](https://user-images.githubusercontent.com/89206401/196234326-a975a614-ae78-4786-a9ec-3dd241948f7d.jpg)

[2022-10-18 19:57] HlDANN opened #529 "bind with variable"
Hi! Im try this but didn't work :( :

`pesquisa.bind('<Return>', lambda event: popular(True))`
or
`pesquisa.bind('<Return>', lambda : popular(True))`

"pesquisa" is a custom button.

[2022-10-19 05:59] Akascape commented on #529
@HlDANN You have to bind it with the main app (not the button).

Eg: `self.bind('<Return>', lambda event: popular(True))`
Now, if you press Enter, the *popular()* function will be called.

And please respond to your older issues: #519

[2022-10-19 07:04] EN20M commented on #528
@Akascape I know and I am asking for this or a similar parameter getting exposed for the mentioned classes so one has the chance to decide where the text is displayed.

For the `CTkComboBox` its is as easy as passing the the `anchor` through to its internal use. But for the `CTkOptionMenue` neither `anchor` nor `justify` gets used internaly and I don't know if there is even a way to tell tkinter w

[2022-10-19 08:57] EN20M commented on #513
It is possible to do it dynamicly:
[code]

[2022-10-19 09:39] MaximFilimonovGH opened #530 "Scrollbar on CTkFrame"
I am using CTkFrame to store the configuration parameters in the form of pairs of CTkLabel + CTkEntry. I am using grid to have all of them nicely structured as a column. I am also using another CTkFrame to show resulting plots after some analysis is done based on those configuration parameters.

In documentation it says that CTkScrollbar takes CTkFrame as a possible master. Unfortunately, I cannot

[2022-10-19 12:16] HlDANN commented on #529
Hi @Akascape Thanks for all your support so far. I'm going to work now to test your solution As for the #519  error, I haven't had the opportunity to test it yet :s but I'll do it today. Thanks

[2022-10-19 13:21] HlDANN commented on #519
@Akascape Works great!
Thanks again. The job now is to edit all the labels :s

[2022-10-19 13:21] #519 closed

[2022-10-19 13:23] HlDANN commented on #529
@Akascape The bind solution worked! As @TomSchimansky mentioned I hope that soon it will be possible to bind widgets individually.

Thanks!

[2022-10-19 13:23] #529 closed

[2022-10-19 17:43] Jeymen opened #532 "Another question from me!"
How can I hide certain elements when button_1 is clicked, and show them when button_2 is clicked.

[2022-10-20 04:16] Mank0o opened #536 "Can't change iconbitmap on CTkInputDialog"
CTkInputDialog has no option to change iconbitmap (window logo)

I'm new to coding maybe I don't know how to change

[2022-10-20 10:07] Akascape commented on #536
@Mank0o It is possible to change the CTkInputDialog's iconbitmap (window logo).

Use this:
[code]

[2022-10-20 10:24] Akascape commented on #530
This may help: https://github.com/TomSchimansky/CustomTkinter/issues/215

[2022-10-20 10:51] clear-code-projects opened #537 "inconsisten behaviour when using grid?"
There seems to be a bug when using customtkinter with grid, for example:
[code]

The CTkLabel always occupies more space than the ttkLabel (even when removing the sticky bit). Is this a bug or am I making a mistake somewhere?

[2022-10-20 12:03] Akascape commented on #537
@clear-code-projects This is normal.
Customtkinter widgets are always a little bit bigger than ttklabels.
You use use width, height, font parameters to adjust it.

[2022-10-20 14:31] Akascape commented on #536
@Akascape Add this:
[code]

[2022-10-20 14:34] Mank0o commented on #536
thank you @Akascape it works now

[2022-10-20 21:07] TomSchimansky commented on #530
Its not possible at the moment, but I definitely want to make a scrollable frame in the future. There are some options for normal tkinter frames: https://blog.teclado.com/tkinter-scrollable-frames/

[2022-10-21 11:01] MaximFilimonovGH commented on #530
Thanks for a quick response. Seems like both answers refer to the similar scrollable-frame implementation. I will definitely check it out.

[2022-10-21 11:01] #530 closed

[2022-10-21 12:14] TomSchimansky commented on #522
Only python >= 3.7 is supported at the moment.

[2022-10-21 12:14] #522 closed

[2022-10-21 12:15] TomSchimansky commented on #521
cget will be implemented in the next version 5.0.0.

[2022-10-21 12:15] #521 closed

[2022-10-21 12:15] #537 closed

[2022-10-22 11:47] #494 closed

[2022-10-22 12:16] TomSchimansky commented on #528
I added `anchor` attribute for optionemnu and `justify` attribute to combobox, will be available with the next release 5.0.0.

[2022-10-22 12:26] TomSchimansky commented on #436
Will be finished, look here: https://github.com/TomSchimansky/CustomTkinter/issues/481

[2022-10-22 12:26] #436 closed

[2022-10-22 13:00] avalon60 opened #544 "Exception on CtkButton.configure(text_color_disabled=...)"
CtkButton does not appear to support the text_color_disabled property as per the wiki specs.

Please see below:

[code]

Thanks,

Clive

[2022-10-22 14:06] avalon60 opened #545 "Exception on CTkComboBox.configure(border_color=...)"
CTkComboBox.configure() does not appear to support the border_color property as per the wiki specs.

CustomTkinter version: 4.6.3

Please see below:
[code]

Thanks,

Clive

[2022-10-22 22:15] BeleganStartup opened #546 "AttributeError: 'CTkTextbox' object has no attribute 'get'"
I was following docs to get the text of a CTkTextbox and it's explained like so:

[code]

this highlited lline raise the error in the title:

[code]

to fix that it should be:
[code]

hope you change it in docs, and sorry for my poor english.

[2022-10-23 08:33] portopen opened #547 "ModuleNotFoundError: No module named 'customtkinter'"
Hello. I installed customtkinter with the command "pip3 install customtkinter" on a linux machine, and it installed succesfully. Now when I run a python script with "import customtkinter"using python shell 3.8 I get an error message "ModuleNotFoundError: No module named 'customtkinter'". Please help as I can't find anything online about this specific error. Thank you.

[2022-10-23 11:08] TomSchimansky commented on #546
Its just not finished yet https://github.com/TomSchimansky/CustomTkinter/issues/378. It will work as expected.

[2022-10-23 11:08] #546 closed

[2022-10-23 14:04] Akascape opened #549 "Dynamic resizing not working in CTkSwitch, CTkRadioButton and CTkCheckBox"
Hello @TomSchimansky,
**I am making a widget maker for customtkinter which look like this**

https://user-images.githubusercontent.com/89206401/197396161-26f89c59-d326-4ca7-b572-2cb2834b6870.mp4

I made the same for all the other widgets but some widgets like CTkSwitch are not resizing on configuring the width/height.
This is what happening with CTkSwitch:

https://user-images.githubusercontent.co

[2022-10-23 18:00] justabettergamer opened #550 "The .json theme file for customTkinter could not be found. Nuitka"
I'm trying to compile my python project with Nuitka, Exe file cannot find blue.json, I do not find the solution to include this file, do you have any idea how I could solve it?

CustomTkinter version: 4.6.3

Please see below:

![image](https://user-images.githubusercontent.com/81446024/197408031-bb9c89d6-dff7-4351-8d5e-19623995b090.png)

Thanks,

Max

[2022-10-23 18:07] TomSchimansky commented on #550
Did you read the wiki: https://github.com/TomSchimansky/CustomTkinter/wiki/Packaging
Does this not work for you?

[2022-10-23 18:16] TomSchimansky commented on #549
The checkbox, switch and radiobutton widgets actually resize, but the switch itself and the text obviously don't resize. You can see it if you set `bg_color="red"`.

[2022-10-23 18:28] Akascape commented on #549
@TomSchimansky Is there any way/parameter to resize the width/height of the switch part only and not the text.

[2022-10-23 18:34] TomSchimansky commented on #549
Not in the current version. But in the next version 5.0.0 there will be `switch_width`, `switch_height` and `checkbox_width`...

[2022-10-23 18:37] TomSchimansky commented on #550
I am not familiar with Nuitka, but you have to somehow add the customtkinter folder manually...

[2022-10-23 18:39] Akascape commented on #549
@TomSchimansky Release date for 5.0.0?

[2022-10-23 18:46] TomSchimansky commented on #549
In the next days...

[2022-10-23 18:47] TomSchimansky commented on #549
hopefully...

[2022-10-23 18:55] justabettergamer commented on #550
![image](https://user-images.githubusercontent.com/81446024/197410388-84cd19d0-16d9-4eba-a69a-27ca78535342.png)
Here is a new error after I followed your tutorial

[2022-10-23 18:59] TomSchimansky commented on #550
Did you used the --onedir option?

[2022-10-23 19:02] justabettergamer commented on #550
I used :  nuitka --clang --mingw64 --onefile --windows-icon-from-ico=..\Item_Gem.ico --windows-company-name=Unknown --include-data-file="C:\Users\max\AppData\Local\Programs\Python\Python310\Lib\site-packages\customtkinter\assets\themes\blue.json"=customtkinter\assets\themes\blue.json --windows-product-version=1.0 --plugin-enable=tk-inter --enable-plugin=numpy ..\BOT_Beta.py

[2022-10-23 19:35] justabettergamer commented on #550
![image](https://user-images.githubusercontent.com/81446024/197414278-29bc58c4-a118-4a99-914a-4e6b7ffa19f4.png)

[2022-10-23 19:41] drascom opened #551 "module 'customtkinter' has no attribute 'CTkTabview' ?"
i cant initialize Tabview module with the sample code. it seems not included to the library (vscode not listing after customtkinter. ????)

from customtkinter) (0.7.1)

[2022-10-23 19:48] TomSchimansky commented on #550
You have to include the whole customtkinter folder, not just the blue theme file, there are more data files that are needed.

[2022-10-23 19:50] TomSchimansky commented on #551
Its not available yet, but will be with version 5.0.0.

[2022-10-23 19:50] #551 closed

[2022-10-23 20:15] ArielMAJ opened #552 "Disabling and reenabling a button removes the hover effect."
In other words, the button keeps looking disabled but becomes clickable again.

I also couldn't figure out how to reenable hovering later on (btn.configure(hover=True) throws an exception).

A minimal example of what I ran into (Python 3.10; ctk 4.6.3;):

[code]

Am I doing anything wrong? Is this a bug? Any workaround suggestions?

Tyvm for your time and work!

[2022-10-23 20:38] justabettergamer commented on #550
I seems that this extra argument is what we are looking for.
--include-data-dir="C:\Users\max\AppData\Local\Programs\Python\Python310\Lib\site-packages\customtkinter"=customtkinter
Thank you for your help & thank you for this super nice Tkinter variation !

[2022-10-23 20:39] #550 closed

[2022-10-24 05:18] portopen opened #554 "AttributeError: module 'customtkinter' has no attribute 'CTkComboBox'"
Hello. I'm using **customtkinter Version: 4.0.2** and I receive the error `AttributeError: module 'customtkinter' has no attribute 'CTkComboBox'`. Is it named something else or is it not included with customtkinter?

[2022-10-24 05:24] portopen opened #555 "customtkinter.__init__ warning:"
When I run my python.py script I receive an error message in the python interpreter: `customtkinter.__init__ warning: Preferred drawing method 'font_shapes' can not be used because the font file could not be loaded. Using 'circle_shapes' instead. The rendering quality will be bad!` I'm using **customtkinter Version: 4.0.2**.

[2022-10-24 08:09] Akascape commented on #552
@ArielMAJ This is happening because you have not configured the state properly.
You have to use `state=tkinter.NORMAL` or state=tkinter.DISABLED`.

The hover was throwing exception because it is no changeable via configuring. You have to directly use `btn.hover=True`.

### Code
[code]

[2022-10-24 08:14] TomSchimansky commented on #552
`customtkinter.DISABLED` and `customtkinter.NORMAL` works as well.

[2022-10-24 14:54] ArielMAJ commented on #552
Tyvm guys, I guess i didn't research enough and this isn't a bug. I also tested with strings and "disabled" & "normal" and they seem to work fine, the problem here was using "enabled" instead of "normal".

[2022-10-24 14:54] #552 closed

[2022-10-25 08:30] XiangQinxi opened #557 "When to release version 5.0 ?"

[2022-10-25 10:24] Akascape commented on #557
https://github.com/TomSchimansky/CustomTkinter/issues/549#issuecomment-1288174115

[2022-10-25 10:25] Akascape commented on #557
https://github.com/TomSchimansky/CustomTkinter/issues/549#issuecomment-1288172899

[2022-10-25 14:13] EN20M opened #558 "Changing cursor on click for unresponsive gap"
My aplication has a button that triggers a timeconsuming interaction with some hardware. During that time the ui is unresponsive whitch is fine but I want to give the user a clue by showing the watch cursor.
When I tryed this at app level in the the function given to the button as command nothing changes no matter how often i call self.update() after changing the cursor to `'watch'`. So I changed

[2022-10-25 14:43] Akascape commented on #558
@EN20M This is happening because the whole program becomes unresponsive.
What I recommend is to use a simple **threading** in the command function.

Here is a basic example:
[code]
Everything will work normally in the main window, and the program will never freeze.

[2022-10-25 17:53] Jeymen opened #559 "How do I make clickable text?"
The title says it all. I want the text to open a url in a browser.

[2022-10-26 05:50] Akascape commented on #559
@Jeymen

[code]

[2022-10-26 06:03] #555 closed, assigned to nobody

[2022-10-26 06:05] #554 closed, assigned to nobody

[2022-10-26 06:18] EN20M commented on #558
@Akascape I understand where you are comming from. I know it feel counterintuitive but in my specific situation unless the hardware interaction is done I don't even wand the UI to be responsive since without the hardware beeing the same the UI is just an empty shell.

If I would use threading it would introduce two new problems:

1. The UI would look like everything is working while in reality the

[2022-10-26 06:37] Akascape commented on #558
@EN20M Ok,
Then in that case you have to update the cursor immediately after clicking the button.
Try this:
``python
self.button.configure(cursor='watch') # change the cursor to watch
self.update() #Immediately update the cursor
self.button.configure(cursor='hand2') # back to normal
[code]

[2022-10-26 07:35] Jeymen commented on #559
@Akascape  Thanks as usual.

[2022-10-26 07:35] #559 closed

[2022-10-26 09:18] EN20M commented on #558
thats exactly what the code in my issue [description ](https://github.com/TomSchimansky/CustomTkinter/issues/558#issue-1422537445) does. As I tried to explain the shown code snippet is what I overwrote the CTkButton class with

[2022-10-26 14:21] HunnyRasheed opened #560 "CTkOptionMenu"
AttributeError: module 'customtkinter' has no attribute 'CTkOptionMenu' I am getting this error,again and again, unable to run example code as well is there any version issue ?

[2022-10-26 14:21] HunnyRasheed commented on #560
I have downloaded the custom tkinker library but still I am getting error

[2022-10-26 14:33] Akascape commented on #560
@HunnyRasheed Your python version?

[2022-10-26 15:48] yuseffathi commented on #469
When the fix will be updated,please?

[2022-10-26 16:56] emilkevinmanuel opened #561 "Image in label doesn't get rendered"
```customtkinter.CTkLabel(master=boxframe,image=ImageTk.PhotoImage(Image.open("LogoText.png"))).pack(padx=0, pady=10)```

The Image is invisible, but the label is there. Where my image should be is a gap with the size of my image. I also don't get an error.
![Screenshot 2022-10-26 185508](https://user-images.githubusercontent.com/66739298/198088459-5a0f7c53-0c79-4dcd-8bce-8956dab3d18c.png)

[2022-10-26 17:26] emilkevinmanuel commented on #561
Thanks :) @Akascape

[2022-10-27 21:57] #557 closed

[2022-10-28 07:35] HunnyRasheed commented on #560
python version is 3.10 and custom version is 4.2

[2022-10-28 08:01] Akascape commented on #560
@HunnyRasheed CustomTkinter 4.2 doesn't support OptionMenu. Please upgrade it to the latest version.

[2022-10-28 08:07] TomSchimansky commented on #561
You need to set `text=""` for the CTkLabel to display the image correctly.

[2022-10-28 08:13] #560 closed

[2022-10-28 13:09] EN20M opened #564 "Request for a CTkDualSlider widget"
Could you make a Slider version with two (or a customizabel number of) knobs or extend the existing one so it would be possible to initialise it with a variable number of knobs. I don't think making one similarly to the Floatspinbox out of the existing widgets is going to result in something adequate

[2022-10-28 13:52] alamir3ali opened #565 "I cannot change text_color_disabled using configure() method for a button."
I need this feature for my tic-tac-toe project. I want to change color of the text of a disabled button as the function of the turn "X" or "O". However, i am not really able to do that simple way using button.configure(text_color_disabled='color'). It gives me an 'unknown option "-text_color_disabled"'. Thank you for your attention.

[2022-10-28 14:43] Akascape commented on #564
@EN20M Already requested here: https://github.com/TomSchimansky/CustomTkinter/issues/118

You can combine this special [RangeSlider](https://github.com/harshvinay752/RangeSlider) widget with customtkinter easily.

### Here is the final look:

![DualSlider](https://user-images.githubusercontent.com/89206401/198649545-3b9425f8-1034-406b-a0d2-b6ff052825ab.jpg)

## Code
[code]
Please read the document

[2022-10-28 14:57] Akascape commented on #565
@alamir3ali  `text_color_disabled` is not directly changeable via configure.
You have to directly use `button.text_color_disabled="color"` to change it.
**Example:**
[code]

[2022-10-28 16:02] Akascape commented on #558
In that case you can change the surrounding frame/window's cursor also.

[code]
And you can also make the button a little bit bigger.

Obviously it will be very rare that the mouse is moved immediately other than the button and surrounding frame.

[2022-10-28 19:26] Melih61 opened #566 "Cannot bind a function to a CTkLabel"
Hey,
i want to create a label which calls a function when i click on it but it does not work

[code]

Nothing will happen if i click on it

[2022-10-28 21:34] TomSchimansky commented on #564
Maybe I will add it at some point if I have the time, but only with the CTkSlider as a basis. I cannot simply use these RangeSlider, it lacks fundamental functionality, like scaling,  tuple-colour with appearance_mode, antialiased rendering...

[2022-10-28 21:34] #564 closed

[2022-10-28 21:36] TomSchimansky commented on #566
Hi, binding was already requested, I will add it with the next version 5.0.0.

[2022-10-28 21:36] #566 closed

[2022-10-28 22:44] TomSchimansky commented on #565
Duplicate: https://github.com/TomSchimansky/CustomTkinter/issues/544

[2022-10-28 22:44] #565 closed

[2022-10-29 12:46] alamir3ali commented on #565
Thanks, this helped me
![Screenshot 2022-10-29 144627](https://user-images.githubusercontent.com/114143531/198832270-b98c313e-8c18-4fe7-b658-14bc3793b8f2.png)

[2022-10-30 08:32] snoo-snoo opened #571 "tkinter.TclError: bad screen distance "200.0""
Python 3.10
Windows 11

When i init a CtkFrame like this:
[code]

i always get

`_tkinter.TclError: bad screen distance "200.0"
`

The error is located at
ctk_frame.py line 41:

`self.canvas = CTkCanvas(master=self,
                                highlightthickness=0,
                                width=self.apply_widget_scaling(self._current_width),
                                height=self.

[2022-10-31 15:40] TheFallen-Cat commented on #571
Can you send a minimal reproducible example?

P.S. Looking at the widgets, might it be a problem in the `base_widget_class.py` with the return value of the `apply_widget_scaling` function?

[2022-10-31 20:58] snoo-snoo commented on #571
Yeah, i got the problem, here is a minimal reproducible example:

`import tkinter
import customtkinter
import locale

locale.setlocale(locale.LC_ALL, '')

customtkinter.set_appearance_mode("dark")  # Modes: "System" (standard), "Dark", "Light"
customtkinter.set_default_color_theme("blue")  # Themes: "blue" (standard), "green", "dark-blue"

app = customtkinter.CTk()
app.geometry("400x580")
app.titl

[2022-10-31 21:42] Free-Radical commented on #566
Same issue here. When is 5.0 expected?

[2022-11-01 18:45] snoo-snoo commented on #571
@TheFallen-Cat try changing your OS language to German. Then you should be able to replicate the error. sorry, forgot about that.

[2022-11-02 01:19] snoo-snoo commented on #463
@kdc1919 you can use the .focus_force() as a workaround now.

[2022-11-02 05:57] TheFallen-Cat commented on #571
Ah okay, lemme try that in a bit.

[2022-11-02 09:14] EN20M commented on #118
I hacked a range slider that is vanilla to the customtkinter in opose to the mentioned package. I did not want to modify the installed package on my mashine so I put it in an extra file in my GUIs directory and imported it alongside the customtkinter module. As far as I tested it works just fine. I'll leave it heare, maby it finds its way into the module some day:
[code]

[2022-11-02 09:46] EN20M commented on #118
@Akascape right as i actually used it i found a bug but fixed it and updated my previous comment.
If I find the time I'll fork and arange a pull request but for now this will have to do. Unless @TomSchimansky you see it making it into 5.0.0 then I'll do what I can to get a pullrequest ready.

[2022-11-02 14:40] cedrikbr opened #577 "Unresolved attribute reference 'get' for class 'CTkTextbox'"
For some reason .get isn't working for CTKTextbox.
I made a quick example to show this problem but it's a big issue on my application i am making, having to resort to using tkinter default Text class which looks incredibly ugly compared to the GUI i managed to make with CTK.
![Screenshot_2022-11-02_11-38-01](https://user-images.githubusercontent.com/117290930/199518479-65869c8a-f2d1-4ebf-aef1-f92e

[2022-11-02 15:30] TomSchimansky commented on #577
Its not finished: https://github.com/TomSchimansky/CustomTkinter/issues/481

[2022-11-03 07:09] Akascape commented on #118
Great work @EN20M, really appreciate the hard work in making this!
I have tested most of the thing and it is working properly just like the normal CTkSlider.
BTW, I found one small bug when configuring `number_of_steps`. It is showing a type error :
`TypeError: 'float' object is not iterable`
Other than that, there is no other issues.

[2022-11-03 08:37] avalon60 opened #578 "CTkButton.configure(border_width=) causes exception"
CustomTkinter 4.6.3

Adding this third line to simple_example.py:
[code]
Causes exception:

[code]

[2022-11-03 08:51] avalon60 opened #579 "CTkProgressBar.configure(corner_radius=) causes exception"
Adding this third line, to simple_example.py, causes the exception:

[code]

Exception raised:
[code]

[2022-11-03 08:59] avalon60 opened #580 "CTkCheckBox.configure(corner_radius/border_width=) triggers exception"
CustomTkinter 4.6.3

Adding this third line, to simple_example.py, causes the exception:

[code]

Exception raised:
[code]
A similar exception is raised when trying to reconfigure border width:
[code]

[2022-11-03 09:45] Akascape commented on #578
@avalon60 Border_width cannot be changed via configure. You can see the configurable parameters of button here:  https://github.com/TomSchimansky/CustomTkinter/blob/master/customtkinter/widgets/ctk_button.py#L238
To change these parameters, we have to use 'button_1.border_width=3`.

[2022-11-03 09:48] Akascape commented on #579
@avalon60 Same goes with progressbar. Corner_radius is not added in the configure settings: https://github.com/TomSchimansky/CustomTkinter/blob/master/customtkinter/widgets/ctk_progressbar.py#L147

For these we have to use `progressbar_1.corner_radius=0` in order to change it.

[2022-11-03 10:06] Akascape commented on #580
@avalon60
Corner_radius and border_width are not implemented in the configure settings of checkbox.

These are the configurable values of checkbox:
https://github.com/TomSchimansky/CustomTkinter/blob/master/customtkinter/widgets/ctk_checkbox.py#L175

Ig, it will be available in the next update.

For now use `checkbox_1.corner_radius=0` and `checkbox_1.border_width=0` to change them.

[2022-11-03 12:25] avalon60 opened #583 "CTkLabel.configure(corner_radius) triggers exception"
CustomTkinter 4.6.3

Adding this third line, to simple_example.py, causes the exception:
[code]

Here is the stack:
[code]

[2022-11-03 12:32] avalon60 opened #584 "CTkProgressBar.configure(corner_radius) triggers exception"
CustomTkinter 4.6.3

Adding this third line, to simple_example.py, causes the exception:

[code]

Here is the stack:

[code]

[2022-11-03 12:40] avalon60 opened #585 "CTkRadioButton.configure raises exceptions with any of corner_radius, border_width_unchecked and border_width_checked"
CustomTkinter 4.6.3

These were reproduced with simple_example.py:

[code]

[code]
[code]

Here is an example stack:

[code]

Here is another:

[code]

[2022-11-03 14:50] Akascape commented on #583
@avalon60
Corner_radius in Label is not implemented in the configure options of Label.

For now use `Label_1.corner_radius=0`

[2022-11-03 14:53] Akascape commented on #585
@avalon60
corner_radius, border_width_unchecked and border_width_checked in Checkbox is not implemented in the configure options.

For now use `radiobutton_1.corner_radius=0`, `border_width_unchecked=0` and `border_width_checked=0`.

[2022-11-03 14:54] Akascape commented on #584
Duplicate of https://github.com/TomSchimansky/CustomTkinter/issues/579

@avalon60 Corner_radius is not added in the configure settings:

For these we have to use `progressbar_1.corner_radius=0` in order to change it.

[2022-11-03 16:18] Cromwell1963 opened #586 "Stacking frame and transparency"
Hi, I have been using a number of frames with frames. When I set the colour, the frame is not displayed quite as expected.
I wonder if there is some transparency added to the frame. If so how can I control it.
Many thanks

[2022-11-03 16:39] justabettergamer opened #587 "button.cget("state") raises exception"
Here is the code I tested :
`import customtkinter

app = customtkinter.CTk()
app.title("CustomTkinter")
app.geometry("150x100")

button = customtkinter.CTkButton(app, text = "test")
button.grid(pady=30)

print(button.cget("state"))

app.mainloop()`

Traceback :
`Traceback (most recent call last):
  File "C:\Users\user\Documents\test2.py", line 11, in <module>
    print(button.cget("state"))
  File

[2022-11-03 16:52] Tommmo6 opened #588 "Exception occurs when configuring the text of a button"
![image](https://user-images.githubusercontent.com/117383518/199784279-4399c81b-fdc5-4e5a-8f2d-cbf41d62dc93.png)
It seems to happen on anything that I used to be able to configure. eg border_color.

[2022-11-04 06:32] Akascape commented on #588
@Tommmo6 Please read the [documentation](https://github.com/TomSchimansky/CustomTkinter/wiki/CTkButton) properly.
[code]
<img src="https://user-images.githubusercontent.com/89206401/199906644-f70d7e86-4adf-4c63-ae20-3c9e84ae7f08.gif" width=200, height=200>

[2022-11-04 06:36] Akascape commented on #587
@justabettergamer `cget` method is not implemented.
Use `button.state` instead.

[code]
**Output**
`>>> normal`

[2022-11-04 15:43] TheFallen-Cat commented on #571
I did. And if i leave the `locale.setlocale(locale.LC_ALL, ' ')` like this it works, but of i put `locale.setlocale(locale.LC_ALL, 'de_du)` it throws the error. So, maybe try running your code with empty quotation marks as `locale` will auto-detect the language of the system, no need to put the langugae code(de_du) specifically.

[2022-11-04 16:38] avalon60 opened #590 "CTkSwitch.configure(corner_radius=...) triggers exception"
CustomTkinter 4.6.3

This was reproduced with simple_example.py:

[code]
Here is the error stack:

[code]

[2022-11-04 21:49] poneoneo opened #591 "how to have push effect with CTkButton same as ttk.Button"
[code]

[2022-11-04 22:16] TomSchimansky commented on #591
The button has a push effect if you pass a command function.

[2022-11-04 22:16] #591 closed

[2022-11-05 07:42] Exec-Codes opened #592 "Issue with cursor changing on button"
The cursor will not follow the cursor specified when hovered over a button with a function attached to it.

Lets assume we have a simple piece of code:

[code]

Even when I set the cursor to arrow, the cursor is still the link-select when my mouse hovers over it. This only happens when a function is attached to it.

[2022-11-05 09:39] Akascape commented on #590
@avalon60 Corner_radius is not added in the configure settings of switch:

For these we have to use `switch_1.corner_radius=0` in order to change it.

[2022-11-05 09:48] Akascape commented on #592
@Exec-Codes Add `button.configure(cursor="arrow")`
[code]

[2022-11-05 10:59] Exec-Codes commented on #592
@Akascape
Thank you! This worked perfectly fine for me. (oh my gosh im so noob) However I tested my previous code but using the tkinter module and it worked without adding `button.configure(cursor="arrow")`... so is this sort of a bug?

[2022-11-05 11:53] messina8 opened #593 "customtkinter.CTkTextbox.delete() not written in ctk_textbox.py"
Was trying to delete the content in the textbox, and .delete() was not working. adding the following code on ctk_textbox.py fixed it:
    def delete(self, *args, **kwargs):
        return self.textbox.delete(*args, **kwargs)

[2022-11-05 12:09] TomSchimansky commented on #593
Yes I know, the Textbox is not finished yet.

[2022-11-05 12:09] #593 closed

[2022-11-05 19:16] #587 closed

[2022-11-06 12:19] TomSchimansky commented on #578
Just changing the attributes like `button_1.border_width=3` will not change the border because there is more to it than just change the attribute values. The button has to be rendered, and sometimes the grid system must change so that the text label of the button does not overlap the border. So this won't work properly.

But I will add the missing configure and cget attributes.

[2022-11-06 12:22] TomSchimansky commented on #586
If you set fg_color=None for the frame, it will have the same color as the frame/window it is placed on.

[2022-11-07 12:17] JoseEliodoro opened #596 "RadioButton"
How can I remove the equal checkbox in tkinter that I use "indicator=0"?

[2022-11-07 15:13] TheFallen-Cat commented on #596
Can you elaborate a bit?

[2022-11-08 10:11] avalon60 commented on #578
Hi matey. Yes, I raised that as a separate issue. I have been working through the _base_ widget shape properties - the one's required in the theme files. I am guessing you have / or will hit a some of these two. I think I have raised issues for all of them now, at least for CustomTkinter 4.6.

[2022-11-08 10:15] avalon60 commented on #578
Hi Tom. I'm not clear on what the solution is. Does it mean that a fresh call to .grid must be made?

[2022-11-08 10:33] TomSchimansky commented on #578
For a change of the border_width you would have to call ._create_grid() and ._draw() at the moment, but this can change at any time.

[2022-11-08 11:00] crankedguy opened #598 "Geometry positioning bugged"
Hi,

writing a code like this
`self.geometry("400x170-0-0")`
puts the window in the top left, as does +0+0, but it should place it in the lower right, which would be considered "normal" Tkinter behavior.

Can this be changed? I do not want to start calculating for such easy things

[2022-11-08 11:03] crankedguy opened #599 "Weird dpi scaling messages"
Hi,

after closing an app written with CustomTkinter, a vere easy app, there are sometimes dpi scaling error messages, though not always.
Like these, from 2 different runs, so this seems to be something dynamically generated
[code]
or
[code]

[2022-11-08 11:13] avalon60 commented on #583
This is not a good option for me. My code is somewhat generic and I share the same code path for different widget types.

[2022-11-08 11:27] crankedguy opened #600 "Auto calculation of window size not working"
Hello,

when writing the exact same code in Tkinter I get a correctly autosized window, while in CustomTkinter the window is way too big

Tkinter
![python_3BWCIZkz7N](https://user-images.githubusercontent.com/34091479/200552487-b9c99955-783b-48ef-8192-b00c8964af0a.jpg)

CustomTkinter
![python_adXm9hCqzl](https://user-images.githubusercontent.com/34091479/200552555-78d53cb9-e237-4627-98ce-005f1001f

[2022-11-08 12:44] TomSchimansky commented on #600
You have to post your code otherwise there is no way I can tell what's the problem here.

[2022-11-08 12:48] crankedguy commented on #600
No problem

Native
[code]

Custom
[code]

[2022-11-08 13:02] crankedguy commented on #600
You can also see the positioning issue in this example I mentioned in the other issue

[2022-11-08 13:48] TomSchimansky commented on #600
What's your monitor scaling in the Windows settings? And what's the monitor resolution?

[2022-11-08 13:51] crankedguy commented on #600
3840x2160
100%

[2022-11-08 15:17] crankedguy commented on #600
@Akascape The sense of this?
This
a) places the window half out of sight, as negative positiion values are not working as in native right now and
b) makes the window not autoresize, because a window with a geometry does not autoresize

[2022-11-09 06:32] Shreyas-ITB opened #601 "Hey tom i needed the support of ttk notebook"
im making some project which has windows inside the app so i needed to make multiple tabs but im currently using tkinter ttk as there is no official support from customtkinter about ttk notebook

[2022-11-09 06:53] Cromwell1963 commented on #586
Excellent, thank you

[2022-11-09 07:52] Akascape commented on #601
@Shreyas-ITB Tabview will be available in the next update. (v5.0.0)

It's almost ready ig.
https://github.com/TomSchimansky/CustomTkinter/wiki/CTkTabview

[2022-11-09 08:03] DharmaHS opened #602 "Is it just me or does CTkTextbox not have get()"
Am trying to make something with ctk, was trying to get the text from a textbox but this keeps showing up:

AttributeError: 'CTkTextbox' object has no attribute 'get'

self.text_box = ctk.CTkTextbox(master=self, height=16)
my_text=self.text_box.get("0.0", "end")

tried with tk.Text, works fine there, think there might be some function that aren't included,
delete() also doesn't seem to work

[2022-11-09 09:08] Shreyas-ITB commented on #601
oh okay

[2022-11-09 09:08] #601 closed

[2022-11-09 10:17] TomSchimansky commented on #602
https://github.com/TomSchimansky/CustomTkinter/issues/378

[2022-11-09 10:17] #602 closed

[2022-11-09 19:47] Evolution0 opened #605 "Alias ._clicked() to .invoke()"
Not sure why the user closed [#226](https://github.com/TomSchimansky/CustomTkinter/issues/226), as its still valid even in the dev branch.

As `CTkButton` does not seem to inherit `Button` it has no `.invoke()` method currently. Calling `.event_generate('<Button-1>')` on a `CTkButton` does not trigger it either, you *need* `.invoke()` unless you want to directly call the protected member of `CTkBu

[2022-11-09 20:45] TomSchimansky commented on #605
I will add the invoke method

[2022-11-09 21:44] Evolution0 opened #606 "[Feature Request] bg_color_disabled"
Would be a nice thing to have, make buttons and other widgets that support `bg_color` set it to whatever the border color is (like:`"button_disabled": ["#979DA2", "#565B5E"]` in the theme) when disabled.

Currently:
![kintercon_beta5](https://user-images.githubusercontent.com/1984403/200947600-24c4c68d-ff12-48fe-9495-d044e3a6e822.png)

Ideally:
![kintercon_beta5_desaturated](https://user-images.gi

[2022-11-10 09:58] GermanYoshi opened #608 "Threding in Button Commands not working"
Hello there,

[code]

Using therding in commands will result them to be runned on startup (not on button press)
kinda fixed it by using an additional def. idk. if this is a good thing too
[code]
but then when i run the command it kinda works, but the programm is getting no respons while the action, so the threading mus be broken then i gues

anyone got a better solution?

[2022-11-10 11:58] shuvam-kayal opened #609 "hover_color option not working in CTk.Scrollbar"
when im using it as option python idle is giving an error stating no such option is there.

[2022-11-10 14:25] shuvam-kayal commented on #609
stating*

[2022-11-10 15:25] VermillionDev opened #610 "root.focus_get() dont detect if the focus is on custom tkinter entrys ."
[code]

when I click on the ttk entry  and press enter it print ----> "ttk_entry"

But when I do the same thing to the customtkinter.CTkEntry it print nothing .

[2022-11-10 20:30] Evolution0 commented on #608
I ran into a similar issue and I what I did was use a lambda:
[code]

Might work might not, its a general Tkinter thing rather than an issue with CustomTkinter specifically. Here is some info on why lambda usually works: https://stackoverflow.com/a/61156251

[2022-11-10 20:32] Evolution0 commented on #609
Its `scrollbar_hover_color` according to `ctk_scrollbar.py`

[2022-11-10 20:36] Evolution0 commented on #610
Indeed known issue: #463

Try `.focus_force()` as suggested there.

[2022-11-10 20:49] Evolution0 commented on #610
Something is definitely firing though, as printing `root.focus_get()` itself returns `.!ctkentry.!entry` when you submit so it knows that *a* ctkentry is focused but doesn't return the name of *which*, may be fixed by #422?

[2022-11-10 21:00] TomSchimansky commented on #609
It was a mistake in the wiki, its called scrollbar_hover_color.

[2022-11-10 21:00] #609 closed

[2022-11-10 23:33] #588 closed

[2022-11-10 23:35] TomSchimansky commented on #596
The CTkRadiobutton does not support configuring the indicator.

[2022-11-10 23:35] #596 closed

[2022-11-11 10:13] Zingzy opened #612 "How to change the current color theme while a program is running"
I want to implement this thing that allows the user to change the color theme from green to blue on clicking a button. But when I use the command `customtkinter.set_default_color_theme("blue")` nothing seems to happen. I have also tried methods like update idle tasks but nothing seems to work.

[2022-11-11 10:32] TomSchimansky commented on #612
This is not possible at the moment, the program needs to be restarted, but maybe I will implement this feature at some point.
https://github.com/TomSchimansky/CustomTkinter/issues/295

[2022-11-11 10:32] #612 closed

[2022-11-11 11:25] koukii007 opened #613 "Pacakaging with Pyinstaller"
Hi
thank you for this great module it helped me create a very nice program.
But i am having issues packaging my program using pyinstaller an auto-py-to-exe.
I keep receiving errors like this one
![image](https://user-images.githubusercontent.com/91621764/201330607-34867e1a-bf16-465c-b34a-8c0592d22ac8.png)
I used to have an error saying **No module found : darkdetect** I solved that by following th

[2022-11-11 13:07] Th3o-D opened #614 ""system" appearance mode only working in first window"
Bug description : The system appearance mode does not work when the window (customtkinter.CTk) is not the first window created.
System : Ubuntu 22.04 (idk if the bug also occurs in other systems)

Here is an example to reproduce :
[code]

This example is an extract of one of the examples codes provided, with only the widget which allows you to change theme. I added lines at the end to launch a sec

[2022-11-11 13:38] Evolution0 commented on #614
DPI awareness on linux isn't implemented even in the dev branch so I'm curious why it calls the function at all.

Be interesting to see if switching to the dev branch helps as its got actual checks in place in the scaling tracker to look for OS before running anything.

[2022-11-11 15:08] koukii007 commented on #613
You are right it's going alphabetically.
I will check out the link you sent
Thank you

[2022-11-11 17:37] VermillionDev commented on #610
I found a the solution which is simply by add .widget_type , like in my exemple insted of :
[code]

i had to do custom_entry.entry like that :

[code]

[2022-11-12 14:23] avalon60 opened #618 "Setting a CTkButton corner_radius > 38 results in the widget length being altered"
For a button of default height (not tested against other heights), setting the corner radius to a value > 38 causes the button to length to increase. This causes the button to get longer, the higher the value, once above 38.

Here we see a value setting of 50:

[code]

![image](https://user-images.githubusercontent.com/89534395/201478582-601ac3c9-a422-4a99-8e23-dd91bb6eb0a0.png)

[2022-11-12 15:08] avalon60 opened #619 "Strange artefacts on CTkFrames when using high values for corner_radius"
I reproduced this problem on the complex_example.py.

Substituting this for the "create two frames" code and adding extra layers of frames:

[code]

This results in the following effect (note the square edges):

![image](https://user-images.githubusercontent.com/89534395/201480450-579112db-c459-48de-bdc1-84a0b8ab512e.png)

[2022-11-12 18:57] TomSchimansky commented on #619
This is expected a can not be solved. Since the tkinter.Canvas does not support transparency, the only way to get the effect of transparency is to get the foreground color of the parent widget and use it as a background color for the child widget. But of course the widgets and frames stay rectangular like this:

![201480450-579112db-c459-48de-bdc1-84a0b8ab512e](https://user-images.githubuserconten

[2022-11-12 18:57] #619 closed

[2022-11-12 19:06] TomSchimansky commented on #618
This is because the text label gets a padding with the size of corner_radius on the left and right side, to prevent the text label from overlapping the edge of the button. Maybe I will add a max padding value of half the height, but then the padding must be updated if the height changes.

[2022-11-12 21:59] TomSchimansky commented on #614
I don't know why this is not working, but the CTk (and also the tkinter.Tk) class is not designed for multiple instances. There should always be only on instance of CTk and additional windows should get created with CTkToplevel.

[2022-11-13 01:01] Th3o-D commented on #614
Technically, there is only one instance, because there is only one instance at once.
When I mention "the second window", it is assuming I have closed the first one.

My program is a password manager, in which there is first a login page. Then, if the user gives the right password, I destroy the login page and create a new page for the content of the app. This second page is the one that isn't work

[2022-11-13 10:03] avalon60 commented on #619
Thanks Tom. I discovered this using the slider control for the geometry management in my theme builder app. Do you think it would be sensible for my app to set an upper limit, of say 75, or do you think the programmer should be allowed to push it this far?

[2022-11-13 20:58] Evolution0 commented on #614
Do you have the same issue if you create your login as a `CTkToplevel` as @TomSchimansky mentioned and set the `CTkOptionMenu` up with a `StringVar` set in the `__init__` of the App?

Granted you will need to restructure your project likely and either anchor the login over the main window (a modal, basically) and make it impossible to interact with the main window behind it till logged in or forgo

[2022-11-13 23:22] Th3o-D commented on #614
This indeed was exactly what I needed, thank you very much. For future people who might have the same issue, I created a piece of code (inspired from the [website](https://stackoverflow.com/questions/28388346/what-does-thewait-window-method-do/29122584#29122584)) that gives an idea of how to solve the issue. In this very small example, both login page and main page will follow system's theme.

[co

[2022-11-13 23:22] #614 closed

[2022-11-14 19:08] f1refa11 opened #626 "Add FileDialog support"
tkinter's filedialog doesn't work:
[code]

[2022-11-15 07:07] #626 closed

[2022-11-15 07:08] f1refa11 opened #627 "Request: Scrollable Frame"

[2022-11-15 16:49] Cromwell1963 opened #628 "Setting label to the left of Switch"
With regard to the CTkSwitch, CTkRadioButton & CTkCheckBox; is there any way to have the label show on the left of the widget rather than the right?
thanks
karl

[2022-11-16 16:27] JoakimBrandt commented on #291
Yeah, same issue over here. It really bums me out that I can't use the single file option. It ruins the experience as I don't want to send my colleagues/clients a zip file containing all of the necessary files. Is there no way at all to achieve in getting a single .exe file?

[2022-11-16 23:49] Th3o-D commented on #627
You can find [here](https://gist.github.com/JackTheEngineer/81df334f3dcff09fd19e4169dd560c59) a Tkinter scrollable frame that works just fine (Linux and Windows only). As mentioned in the code, there are a few lines to comment/uncomment depending on the OS on which you are using this code, or you can also add your own OS checker to the code, here is an example :

[code]

As it is made with Tkinter

[2022-11-17 03:34] rubensanchezrivero commented on #8
is there any news about textbox?

[2022-11-17 16:09] JoakimBrandt opened #631 "Packaging into a single .exe file"
Hello,

I am wondering if it is possible to use CustomTkinter for single bundled .exe files? I have tried using the [instructions](https://github.com/TomSchimansky/CustomTkinter/wiki/Packaging) here, but I can't seem to find a way to get my python script into a single .exe file. I want to know if it is an impossible task and I should just use the standard tkinter instead?

[2022-11-18 00:56] LucasRFernandes commented on #631
I don't know if this is a dumb question of mine, but have u already tried pyinstaller with --onefile command?

[2022-11-18 05:13] Akascape commented on #631
https://github.com/TomSchimansky/CustomTkinter/discussions/423#discussioncomment-3549223

[2022-11-18 05:13] gcailly commented on #599
Could this discussion help ?
https://github.com/TomSchimansky/CustomTkinter/discussions/607

[2022-11-18 05:14] Akascape commented on #631
@JoakimBrandt
This may help: https://github.com/TomSchimansky/CustomTkinter/discussions/423#discussioncomment-3549223

[2022-11-18 06:32] crankedguy commented on #599
@gcailly I will have a look at it by the time, thanks. I had to ditch CustomTkinter for the project because the other bug https://github.com/TomSchimansky/CustomTkinter/issues/600 weighs in way too heavy and there was no response to it. With tkinter this worked out of the box.

[2022-11-18 09:45] adambelbrik opened #635 "ModuleNotFoundError: No module named 'customtkinter'"
i need help, just installing the library using pip but am getting this error:
ModuleNotFoundError: No module named 'customtkinter'

[2022-11-18 17:36] sim2511 opened #637 "If textbox.get("1.0",END)=="" doesnt work"
Hello,

I did the update of ctktextbox but I still have an issue while I try to check if data in textbox, is it normal ?

the below check does not work :
If .get("1.0",END)=="":

Regards,

[2022-11-18 17:45] sim2511 commented on #637
I try to test the presence of data in a textbox

[2022-11-19 05:15] TheFallen-Cat commented on #637
@sim2511 can you send a minimum reproducible example?

[2022-11-19 19:08] DestoGit commented on #480
Great thanks for the update!

[2022-11-19 22:23] Menace43 commented on #637
I just had the same problem today also
 Problem:
    my code: ans=textbox.get('0.0', 'end')
     Error code:  AttributeError: 'CTkTextbox' object has no attribute 'get'
         But to solve it  I went to ctk_textbox.py and added the get and delete methods
    My guess:
       The delete, insert and get methods are in the __init__.py but they need to be inherited/ called by the ctk_textbox.py file

[2022-11-20 03:49] Evolution0 commented on #637
Nah this is [essentially how its being done in the dev branch](https://github.com/TomSchimansky/CustomTkinter/blob/fcfda7ed24021726f48abb8b20c9c3bfc74b96ee/customtkinter/windows/widgets/ctk_textbox.py#L357) so you implemented it correctly.

[2022-11-20 04:05] Evolution0 commented on #628
Looking at the code much like other widgets they are made up of multiple, of which the relevant one is a `Label` named `text_label` which seems to have its text justified to the left and the label itself anchored to the west.

Perhaps try changing that from within your program after creating the widgets.

[2022-11-20 04:14] Evolution0 commented on #628
All three use a `Label` that is within the main widget which has three columns and are set to the last column so are hardcoded to draw on the right.

You would have to dig into the instanced widget and change the grid configuration, I've never tried it personally so can't say for sure its possible. I do know that you could monkey patch the CustomTkinter itself to add the option to change orientati

[2022-11-20 08:13] houman1991 opened #640 "TypeError: CTkBaseClass.update_dimensions_event() missing 1 required positional argument: 'event'"
Mr. Tom, thank you so much for taking time out of your personal life building such an amazing product. We do appreciate you.

I'm encountering some errors while implementing buttons, could you please guide me through!

import customtkinter
customtkinter.set_appearance_mode("System")  # Modes: system (default), light, dark
customtkinter.set_default_color_theme("blue")  # Themes: blue (default), dar

[2022-11-20 13:01] ivancasaof opened #643 "CTKEntry - Change background color when (state = 'readonly')"
How can I change the background color of CTKEntry when state is 'readonly'?

Thanks.

[2022-11-20 14:32] Evolution0 commented on #643
[code]

Valid colors, info, etc: https://github.com/TomSchimansky/CustomTkinter/wiki/Themes#colors

[2022-11-20 15:24] Evolution0 commented on #640
Reformatted for readability.

Personally not seeing anything in the code that should cause this, I have no issues with Python 3.11 with either the current release or dev branch running this.

[2022-11-20 18:45] stixxyz opened #644 "checkbox_width, checkbox_height not working"
Hello,

checkbox_width & checkbox_height are not working.
Is this a known issue or can it be fixed?

[2022-11-21 18:26] jeffdn2 opened #645 "Is this built on top of Tk or as a branch from it."
When new versions of Tkinter are released will they be supported with CustomTkinter automatically?

[2022-11-21 21:46] TomSchimansky commented on #645
It's built on top of tkinter. The widgets all inherit from tkinter.Frame and create a canvas in this frame to render the widgets. As long as tkinter updates are backwards compatible CustomTkinter will support them I would say.

[2022-11-21 22:20] nubbix opened #646 "Packaging issues"
Using pyinstaller or auto-py-to-exe after using customtkinter is not an easy task, I would stretch it as far as say impossible based on my knowledge.

That said, I followed this example https://github.com/TomSchimansky/CustomTkinter/wiki/Packaging
and with that I made it into a directory, which btw produces a ton of files. Clicking then the exe inside, does not do anything.

Also after trying out

[2022-11-22 06:15] gcailly commented on #646
Could this help? 🙂
https://github.com/TomSchimansky/CustomTkinter/issues/631

[2022-11-22 16:40] Cromwell1963 commented on #628
Thank you for your reply. I guess i will have to work with it.

[2022-11-22 20:32] Shuvadip-Ghosh commented on #8
Sir can you please tell how to append I am loking for that..

[2022-11-23 00:12] jeffdn2 commented on #645
-Sent by Jeff Duncan mobile (615) 934-1291On Nov 21, 2022, at 3:46 PM, Tom Schimansky ***@***.***> wrote:﻿
It's built on top of tkinter. The widgets all inherit from tkinter.Frame and create a canvas in this frame to render the widgets. As long as tkinter updates are backwards compatible CustomTkinter will support them I would say.

—Reply to this email directly, view it on GitHub, or unsubscribe.

[2022-11-23 04:53] verma611 opened #647 "Password text field"
Can you make a password field using customtkiner, for example the instead of the password letters it displays bulletpoints to hide the password

[2022-11-23 04:59] verma611 opened #648 "Dynamic scale of the elements in the window"
How do I make the scale dynamic of the window, for example if the make the size of the window bigger, i want all the contents accordingly to increase the size so that on bigger screens objects do not appear smaller.

[2022-11-23 07:07] KeksTM commented on #647
Have you tried using Google?

For example: https://www.tutorialspoint.com/how-to-create-a-password-entry-field-using-tkinter

[2022-11-23 08:16] knallgelb opened #649 "Bigger Example Application"
Please provide a bigger example application with
- a menubar
- change frame content according to the selected menuitem
- display content (table) from an api (maybe from https://jsonplaceholder.typicode.com/), etc.
- using multiple files.

Thanks!

[2022-11-23 09:20] avalon60 opened #650 "Associating a tk.StringVar with CTkEntry erases placeholder text"
Hello.

I have added StringVar to CTkEntry widget, and binding the key release event to a function. The idea being that as the user types, the characters are converted to uppercase:

`
        self.tk_new_db_account_name = tk.StringVar(master=self.frm_new_entry)
        self.ent_new_db_account_name = ctk.CTkEntry(master=self.frm_new_entry,
                                                    placeh

[2022-11-23 21:29] Ryoku123 opened #651 "Cant get Label text"
i have put

label.cget("text") and i get

return self.tk.call(self._w, 'cget', '-' + key)
_tkinter.TclError: unknown option "-text"

[2022-11-23 22:56] verma611 commented on #647
Yes... but there is no "show" argument for the text Feild. I have been using tkiner for a long time, but i recently heard about this

[2022-11-24 08:04] Akascape commented on #651
@Ryoku123
Use `Label.text`

[2022-11-24 11:48] TomSchimansky commented on #651
cget will work for version 5.0.0

[2022-11-24 11:48] #651 closed

[2022-11-24 11:51] TomSchimansky commented on #650
That's intended, because I couldn't get it to work properly, it was too much work so I just disabled the placeholder for variables. Maybe I will try to do it again n the future.

[2022-11-24 18:29] ShivanBr opened #655 "Treeview in CustomTkinter."
Cant use Tkinter Treeview in CustomTkinter. :(

[2022-11-25 06:00] Akascape commented on #655
@ShivanBr Here is the implementation of Tkinter Treeview in CustomTkinter:
https://github.com/TomSchimansky/CustomTkinter/discussions/524#discussioncomment-3898307

[2022-11-25 10:15] gowke opened #656 "Not an issue, a note on CTkButton"
The CTkButton does not pass 'event', easily modified in the CTkButton widget in the module, However when you want to capture id(event.widget) in your function you will come across an issue. The TCkButton consists of three elemnts- canvass, image label and text label. Clicking on either will return event for a respective widget,

Background where this can come up. When you create multiple widgets a

[2022-11-25 10:34] TomSchimansky commented on #655
tkinter widgets should work, but do not scale on HighDPI displays and do not adapt to the appearance mode.

[2022-11-25 10:34] #655 closed

[2022-11-25 20:05] WisdomDaPhoenix opened #659 "A VERY COMMENDABLE JOB"
Nice job. You have truly added value to GUI programming

[2022-11-25 20:45] TomSchimansky commented on #659
Thanks a lot, glad to hear you like it!

[2022-11-25 20:45] #659 closed

[2022-11-26 18:39] BenjaminTGa opened #661 "This is not an issue, just a request: add messageboxes to CustomTkinter"
Hi,
I've got a suggestion for a new feature to CustomTkinter: adding messageboxes! There is no such feature available in CustomTkinter, so I tried using Tkinter messageboxes. They don't fit with the styling of CustomTkinter, so I was wondering if you could make that an available feature.
Thanks,
Ben

[2022-11-26 20:22] Tyclonie opened #663 "wait_for"
Creating an IntVar and waiting for it using wait_variable on the CTk object pauses the entire program regardless
![image](https://user-images.githubusercontent.com/64808819/204107654-ba88a1e3-ec8e-438b-9767-04c0504f632b.png)
without "self.window.wait_variable(wait_variable)" allows the program to flow as usual, however adding it prevents the entire program from running

[2022-11-27 16:02] Baimwong2 opened #666 "pip install tkintermapview"
![2200035675.jpg](https://user-images.githubusercontent.com/119135541/204144883-59253e7e-9b33-4e6c-859c-7c8113204d06.jpg)

[2022-11-28 05:05] Mitbra101 opened #669 "- name: Setup Java JDK uses: actions/setup-java@v3.6.0"

[2022-11-28 10:15] #669 closed

[2022-11-28 10:39] Nikushavar opened #670 "cget() isn't working"
so i am making a calculator app using ctk, i need to get input from the user, in tkinter i would use [variable].get(), in ctk i tried to use .cget, but it still refuses to work.
[code]

[2022-11-28 10:44] Nikushavar commented on #395
hello, i also need cget but it isn't working, can you tell me how you got around it?

[2022-11-28 14:06] LHannah958 commented on #670
You an use variable.get() in ctk too

[2022-11-28 14:29] DominicCulyer opened #676 "Change default colour scheme on button click"
I want to change the default colour scheme on the click of a button. When I click on the button to change colour, a function gets called which is meant to update the default colour scheme, however this does not work. Any ideas why? Find my code below.
[code]

[2022-11-28 15:43] duruburak opened #677 "Setting the state of CTk.RadioButton to DISABLED doesn't really make it disabled"
When you configure the CTk.RadioButton's state as DISABLED, only hover effects and text color change. You can see it if you assign a function to the radio button when it's being clicked.

[code]
It'll print "CLICKED!" whenever you click the button even tho it's disabled.

[2022-11-28 16:09] TheFallen-Cat commented on #677
First of all, why are you using `Tk()` instead of `CTk()` and second you can't just use `DISABLED`  you have to use `customtkinter.DISABLED`.

[2022-11-28 17:29] duruburak commented on #677
Oh sorry, i didn't mean to write `root = Tk()`, i edited it out.

For the 'state' situation, in the docs it advises to use `tkinter.DISABLED` not `customtkinter.DISABLED`. {https://github.com/TomSchimansky/CustomTkinter/wiki/CTkRadioButton}
Yet I still tried it out. Nothing changed, same result.

[2022-11-28 21:09] justabettergamer opened #679 "progress_color missing in argument documentation"
Hello, quick message to tell you argument progress_color is missing in the table

[2022-11-28 21:10] justabettergamer commented on #679
in CTkSwitch doc*

[2022-11-29 00:53] knoopx commented on #46
just testing this for the first time, this is what I get on linux/gnome (scale at 150%) with:

[code]

![image](https://user-images.githubusercontent.com/100993/204411600-99ccb024-9726-4508-b629-68f32909ca44.png)

[2022-11-29 02:22] DaedlyKitten opened #682 "CTkSegmentedButton not working?"
As per the wiki page https://github.com/TomSchimansky/CustomTkinter/wiki/CTkSegmentedButton

it will simply create a combo box,
is the widget not implemented yet?

[2022-11-29 04:23] jcedmiston commented on #670
I actually ran into something similar today. You are right cget doesn't work right in the current version. Only some of the values are passed to the super Tkinter class each is based on. In the development branch, this appears to be fixed by overriding cget and returning the correct values. **However you actually don't need cget to do what you want.** Tkinter has special variables to store things

[2022-11-29 07:56] Akascape commented on #682
@DaedlyKitten
It's not implemented yet.
Will be available in the next update (v5.0.0)

[2022-11-29 09:08] #682 closed

[2022-11-29 09:16] TomSchimansky commented on #46
Do you have the newest version installed?

[2022-11-29 09:29] Nikushavar commented on #670
tysm, it works now :D

[2022-11-29 09:30] #670 closed

[2022-11-29 12:29] Forty9669 opened #687 "Why orientation parameter doesn't exists in CTkSlider?"
Hi have this small code for practice using CustomTkinter, reading the official documentation for a vertical slider i need to write orientation = 'vertical' but when i run the code Py charm says "_tkinter.TclError: unknown option "-orientation", how is possible that orientation isn't a parameter? I can't understand please help me, the code:

[code]

[2022-11-29 12:31] InLoveWithMesh opened #688 "CTkImage does not exists"
hey when I use
import customtkinter

I can't get CTkimage or CTkFont somehow. It does not recognize the function as part of customtkinter!

[2022-11-29 12:39] #687 closed

[2022-11-29 12:40] Forty9669 commented on #687
Ok solved, with orient = 'vertical' it works, don' understand why in the official documentation here on GitHub it says "orientation" that doesn't work https://github.com/TomSchimansky/CustomTkinter/wiki/CTkSlider

[2022-11-29 13:05] g6h4 opened #689 "CTkTextBox"
You cant get the text within the CTkTextBox widget.

[2022-11-29 16:02] #688 closed

[2022-11-29 16:03] #689 closed

[2022-11-29 17:21] randor1973 opened #690 "Menu Widget"
Hello,

Thank you for taking the time to update TKInter to a new, more current look. Is there any plans to add in the menu widget?

[2022-11-29 17:23] ZeyadMoustafaKamal opened #691 "Bind method doesn't work with the combobox"
I am using the bind method to search for a value from combobox values (they are 2500 value).
but when I run the code I didn't get anything.
and this is my a part of mycode

[code]
*Note:*date_range** is a function that returns all dates from 2015 to now.

[2022-11-30 01:33] TomSchimansky commented on #691
Its not implemented in the current version, it will work with version 5.0.0

[2022-11-30 01:36] TomSchimansky commented on #679
Thanks

[2022-11-30 01:36] #679 closed

[2022-11-30 01:37] TomSchimansky commented on #676
not possible at the moment: https://github.com/TomSchimansky/CustomTkinter/issues/295

[2022-11-30 01:37] #676 closed

[2022-11-30 03:41] sta0003 opened #692 "Are there listbox?"
i want to upgrade my application to custom tkinter but cant seem to find listboxes will/are these going to be added in the future?

[2022-11-30 11:54] ZeyadMoustafaKamal commented on #691
When the version will be available ,thank you for doing all of this for us.

[2022-11-30 12:41] OffApparition commented on #469
Just here to say that the issue still persists.
The standard tkinter.Toplevel() works fine but customtkinter.CTkToplevel() still doesn't work with the resizable parameters.

[2022-11-30 13:36] igormicadei opened #694 "TKInter frame losing grid layout when insert scrollbar"
I'm trying to create an app with a frame with two frames inside, but I want one of then to be wider than the other... I found a way to do it using grid, but when I add a scrollbar on one of the frames it readjusts the grid and both frames get the same size.

**Here is the code working without the scrollbar:**
[code]
![image](https://user-images.githubusercontent.com/27974596/204809414-cdd1e2a1-46b

[2022-11-30 16:49] InLoveWithMesh opened #696 "Got a couple of questions, sorry for opening issue:"
- How Can I align the Text in a Entry to the Left
- How is it possible to align a Text to the left and a image to the right of a button (at the same time
- If I want to replace the position where currently a Label is with a Progressbar? how can I set a object to an specific position before the current position (2 elements before the last one...)

[2022-11-30 18:23] totallynotdrait opened #697 "Import "customtkinter" could not be resolved"

[2022-11-30 18:26] totallynotdrait opened #698 "Import "customtkinter" could not be resolved"
so I installed customtkinter on my 2014 MacBook Air but when i run the python script with the module it gives me this error

![Schermata 2022-11-30 alle 19 25 51](https://user-images.githubusercontent.com/108739871/204878579-ddcffc0b-8880-47ad-8108-8de86afa6391.png)